.in-line {
    display: flex;
}
.in-line-mobile {
    display: grid;
}
.half {
    width:40%;
}
.half-mobile {
    width:100%;
}
.half mat-form-field {
    width:90%;
}
.half mat-form-field.small {
    width:70%;
    margin-right:20px;
}
.valid {
    color: green;
}
.invalid {
    color: red;
}
