@charset "utf-8";




.menutopTitle {
	background-image:url(../images/sub_03-3.gif);
	float: left;
	white-space: nowrap;
	height: 36px;
	padding-top: 20px;

}
.menutopTitle h1 {
	font-size:22px;
	color: #0087c6;
}
.subheadings {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #585858;
}
.subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.subheadsmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.subDeck {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}
.subbyline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
}

.menutopbgd {
	background-image:url(../images/sub_04.gif);
	float: left;
	width: 100%;
	height: 56px;

}

.menutopTitle h1  a:link, .menutopTitle h1 a:visited  {
	font-size:23px;
	color: #0087c6;
	text-decoration:none;
}

.menutopTitle h1 a:hover,.menutopTitle h1 a:active  {
	font-size:23px;
	color: #0087c6;
	text-decoration:underline;
}


#middle {
	float: left;
	width: 100%;

}
#subcontent_left {
	float: left;
	width: 360px;
	border-right-width: 3px;
	border-right-style: double;
	border-right-color: #999999;
	padding: 10px;
	margin-right: 2px;
}
#subcontent_full {
	float: left;
	width: 580px;
	padding: 10px;
}
#subcontent_form {
	width: 575px;
	border-right-width: 4px;
	padding: 10px;
}


/* CSS Document */


.subcontent {
	float: left;
	width: 597px;
	background-image: url(../images/sub_06.gif);
	background-repeat: repeat-y;
	padding-right: 10px;
	padding-left: 10px;
	clear: both;
}
.subcontent2 {
	float: left;
	width: 771px;
	background-image: url(../images/sub_06_2.gif);
	background-repeat: repeat-y;
	padding-right: 10px;
	padding-left: 10px;
	clear: left;
}

.subcontent2 h1 {
	font-size: 16px;
	display:inline;
}

.subcontent3 {
	float: left;
	width: 800px;
	background-image: url(../images/sub_06_2new.gif);
	background-repeat: repeat-y;
	padding-left: 10px;
	clear: left;
}

.subcontent4 {
	float: left;
	width: 981px;
	background-image: url(../images/sub_06_2_960.gif);
	background-repeat: repeat-y;
	padding-left: 10px;
	clear: left;
}	
.subcontent4 h1 {
	font-size: 16px;
	display:inline;
}


#rightBanner {
	float: right;
	padding-right: 22px;
	margin-top: 16px;
}
.menutopSubNav {
	font-weight: bold;
	color: #3fa4d4;
	width: 584px;
	font-size: 12px;
	list-style-type: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 8px;
	z-index: 2;
	position: relative;
}
.menutopSubNav100 {
	font-weight: bold;
	color: #3fa4d4;
	font-size: 12px;
	list-style-type: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 755px;
}
.menutopSubNav100showcase {
	font-weight: bold;
	color: #3fa4d4;
	font-size: 12px;
	list-style-type: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 755px;
/*	background-image: url(/html/open/ProductShowcase/images/sponsored.gif);
	background-repeat: no-repeat;
	background-position: 478px;*/
}

#subcontent_right {
	width: 210px;
	float: left;
}
#subcontent_base {
	clear: left;
	float: left;
}
.subcontent_imgLeft {
	margin-right: 10px;
	float: left;
	text-align: left;
	margin-top: 2px;
}
.subcontent h1 {
	font-size: 16px;
	display:inline;
}
.subcontent_more a {
	font-weight: bold;
	color: #DF4917;
}

#subcontent_vid  {
	float: left;
	width: 188px;
	height: 190px;
	overflow:auto;
	scrollbar-3dlight-color: #000000;
	scrollbar-track-color: #c0c0c0;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-face-color: #dedede;
	scrollbar-arrow-color: #000000;
	scrollbar-darkShadow-color: #000000;
	clear: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D4D0C8;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D4D0C8;
}


#subcontent_vid .videolist {
	text-align: left;
	float: right;
	display: block;
	width: 165px;
	clear: right;
	margin-top: 8px;
}
#subcontent_vid  .videolist img {
	float: left;
	padding-right: 10px;
	vertical-align:middle;
}

#subcontent_vid .videolist a:link, #subcontent_vid .videolist a:visited  {
	color: #CC0101;
	display:block;
	text-decoration: none;
	font-size: 9px;
}

#subcontent_vid .videolist a:hover,#subcontent_vid .videolist a:active  {
	display:block;
	height: 48px;
	background:#f0f0f0;
}
.subcontent_headers {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D4D0C8;
	color: #7E7E7E;
	clear: left;
	float: left;
	width: 178px;
	margin: 8px;
}
.subcontent_feature {
	float: left;
	width: 178px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
}
.subcontent_sections {
	clear: left;
	float: left;
	margin-bottom: 23px;
	width: 100%;
}
.subcontent_top {
	clear: left;
	float: left;
	width: 597px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subcontent_top2 {
	clear: left;
	float: left;
	width: 597px;

}
/*.subcontent_top img {
	text-align:left;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	float: left;
}*/
.subcontent_top_image {
	text-align:left;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	float: left;
	padding-left: 30px;
}
.subcontent_top_image2 {
	text-align:left;
	vertical-align: middle;
	float: left;
	padding: 0px;
}

.subcontent_top_right {
	float: right;
	width: 260px;
	margin-right: 15px;
	margin-top: 15px;
	margin-left: 5px;
}
.subcontent_top_right2 {
	float: right;
	width: 200px;
	margin-right: 10px;
	margin-top: 15px;
	margin-left: 5px;
}
.subcontent_top_right h1 {
	font-size: 15px;
}
.subcontent_mainhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 10px;
}
.subcontent_top_Video {
	float: left;
	clear:left;
	width: 100%;
	text-align: center;
	background-image: url(/images/shad.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	
}

td#pharma a#pharmaNav,
td#financial a#financialNav,
td#health a#healthNav,
td#ad a#adNav,
td#education a#educationNav,
td#other a#otherNav,
td#Webcasts a#WebcastsNav,
td#Roadshows a#RoadshowsNav,
td#Magazines a#MagazinesNav,
td#ProductTraining a#ProductTrainingNav,
td#Speaker a#SpeakerNav,
td#ASIShow a#ASIShowNav,
td#soi a#soiNav,
td#power50 a#power50Nav,
td#apparel a#apparelNav,
td#salescomp a#salescompNav,
td#work a#workNav,
td#industrysales a#industrysalesNav,
td#products a#prodnav,
td#faq a#faqnav,
td#contact a#connav,
td#link1 a#link1nav,
td#link2 a#link2nav,
td#link3 a#link3nav,
td#link4 a#link4nav,
td#link5 a#link5nav,
td#link6 a#link6nav,
td#link7 a#link7nav,
td#link8 a#link8nav,
td#link9 a#link9nav,
td#link10 a#link10nav,
td#link11 a#link11nav,
td#link12 a#link12nav,
td#link13 a#link13nav,
td#link14 a#link14nav,
td#link15 a#link15nav,
td#link16 a#link16nav,
td#link17 a#link17nav,
td#link18 a#link18nav,
td#link19 a#link19nav,
td#link20 a#link20nav,
td#link21 a#link21nav,
td#link22 a#link22nav,
td#link23 a#link23nav,
td#link24 a#link24nav,
td#link25 a#link25nav,
td#link26 a#link26nav,
td#link27 a#link27nav,
td#link28 a#link28nav,
td#link29 a#link29nav,
td#link30 a#link30nav,
td#link31 a#link31nav,
td#link32 a#link32nav,
td#link33 a#link33nav,
td#link34 a#link34nav{
	color: #808080;
}
.stickynoteVideo {
	background-repeat: no-repeat;
	height: 500px;
	width: 175px;
	float: left;
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 8px;
	font-size: 11px;
	color: #333333;
	text-align:center;
}
.stickynoteVideo h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	color: #FFFFFF;
	font-weight: bold;
	display: inline;
	margin-left: 24px;
}
.stickynote {
	background-image: url(/images/stickey.gif);
	background-repeat: no-repeat;
	height: 165px;
	width: 175px;
	float: left;
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	color: #333333;
	margin-left: 3px;
}
.stickynote h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	color: #0087c6;
	font-weight: bold;
	display: inline;
}
.stickynotewide {
	background-image: url(/images/widesticky.gif);
	background-repeat: no-repeat;
	height: 142px;
	width: 285px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	color: #333333;
	padding-top: 20px;
}
.stickynotewide  h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	color: #0087c6;
	font-weight: bold;
	display: inline;
}

#subleft li  {
	margin: 0px;
	padding: 0px;
}

#subleft ul  {
	margin: 0px;
	padding: 0px;
}


#subleft {
	float: left;
	padding-top: 4px;
	width: 170px;
	color: #FFFFFF;
	overflow:hidden;
}
#subleft h1{
	padding-left: 10px;
	line-height: 28px;
}
#subleft .subLinks {
	clear: left;
	float: left;
	width: 191px;
	font-weight: bold;
}

#subleft .subLinks ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	margin: 0px;
	display: block;
	height: 29px;
	overflow:hidden;
	padding-left: 10px;
}
#subleft .subLinks img {
	margin-bottom: -10px;
	overflow: visible;
}

#subleft .subLinks  a:link, #subleft .subLinks a:visited {
	color: #FFFFFF;
	text-decoration: none;
	width: 191px;
	height: 29px;
	background-image: url(/images/but_sublink1.gif);
	background-repeat: no-repeat;
	margin-left: -30px;
	margin-top: 0px;
	display: block;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#subleft .subLinks  a:hover, #subleft .subLinks a:active {
	color: #FFFFFF;
	text-decoration: none;
	width: 191px;
	height: 29px;
	background-image: url(/images/but_sublink1over.gif);
	background-repeat: no-repeat;
	margin-left: -30px;
	margin-top: 0px;
	display: block;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.subcontent_top_txtonly {
	padding-right: 10px;
	padding-left: 10px;
}
.photos {
	float: left;
	height: 121px;
	width: 285px;
}
.width285 {
	float: left;
	width: 285px;
	height: 65px;
}
.width450 {
	float: left;
	padding-left:5px;
	padding-bottom:8px;
	height:165px;
	width:450px
}
.photos img{
	float:left;
	padding-right: 5px;
	padding-top: 2px;
}
.subcontent_magazine_top_right {
	float: right;
	width: 20%;
	margin-right: 15px;
	margin-top: 5px;
	margin-left: 5px;
}
.subcontent_magazine_top_image {
	text-align:left;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	float: left;
	padding-left: 10px;
}
.subcontent_magazine_right {
	width: 193px;
	float: left;
}
.magazine_article_content {
	float: left;
	width: 575px;
	padding-left: 10px;
}
.subcontent_Catalogs_top {
	background-image: url(/images/h_grad.gif);
	height: 300px;
	background-position: bottom;
	background-repeat: repeat-x;
}
.subcontent_2column{
	width:168px;
	margin-right:5px;
	float: left;
	height: 100px;
}
.pullquoteTitle {
    font-size:9px;
	color: #555555;
	float: clear;
    text-align:center;
}
.pullquoteTitle h1 {
	font-size:19px;
	color: #ff9b39;
	display:inline;
    text-align: center;
}
.magcontblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #12457a;
}
.magcontgreen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1c7938;
}
.magcontred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #e31937;
}
.magcontext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.magcontextital {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
}
.magcontextitallg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}
.magcontextitalsm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.magcontextblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #12457a;
}
.magcontextgreen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1c7938;
}
.magcontextred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #e31937;
}
.magcontextbluelg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #12457a;
}
.magcontextgreenlg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1c7938;
}
.mag_greyborder {
	width: 100%;
	border-top-width: 6px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7D7C8A;
	border-right-color: #7D7C8A;
	border-bottom-color: #7D7C8A;
	border-left-color: #7D7C8A;
}
.magbluetitle {
	background-color: #3773a8;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.maggreentitle {
	background-color: #3ca05b;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.magredtitle {
	background-color: #e31937;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.magcoltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.magtitlewhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;	
	text-align: center;
}
.storeIcon {
	z-index: 3;
	position: absolute;
	height: 49px;
	width: 167px;
	left: 32px;
	top: 28px;
}
/* Shopping Cart Styles */
.StoreLogo {
	z-index: 3;
	position: absolute;
	height: 163px;
	width: 46px;
	left: 605px;
	top: 233px;
}
.subcontentBlack {
	float: left;
	width: 981px;
	background-image: url(../images/sub_06_2_960_bl.gif);
	background-repeat: repeat-y;
	padding-left: 10px;
	clear: left;
}	
.subcontentBlack h1 {
	font-size: 16px;
	display:inline;
}
.cartlinks {
	font-size:14px;
	color: #efad3a;

}
.cartlinks a:link, .cartlinks a:visited  {
	color: #efad3a;
	text-decoration: none;

}
.cartlinks a:hover, .cartlinks a:active  {
	color: #ffffff;
	text-decoration: underline;
}
.cartRedHeaders {
	background-color: #CC0101;
	height: 31px;
	width: 178px;
	font-size:18px;
	font-weight:bolder;
	color:#FFFFFF;
	line-height: 30px;
	text-indent: 15px;
}
.cartRedHeaders2 {
	background-color: #CC0101;
	height: 31px;
	width: 178px;
	font-size:14px;
	font-weight:bolder;
	color:#FFFFFF;
	line-height: 30px;
	text-indent: 15px;
}
.cartlinksRed {
	font-size:16px;
	color: #cc0101;
}
.cartlinksRed a:link, .cartlinksRed a:visited  {
	text-decoration: none;

}
.cartlinksRed a:hover, .cartlinksRed a:active  {
	text-decoration: underline;
}

.dashedlineGray {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #979797;
	margin-top: 2px;
	margin-bottom: 4px;
	clear:both;
}

.storeImageBorder { border: 3px groove #999999; display:block; width:123px } 
a.storeImageBorder:hover{
	border: 3px double #FFFFFF;
} 
/* Home Page News */
.main_left {
	background-image: url(/images/homepage/bgd_blog.gif);
	height: 312px;
	width: 294px;
	float:left;
}
.main {
	background-image:url(/images/homepage/main.gif);
	width:791px;
	height:327px;
	padding-left: 10px;
	float:left;
}
.main_right {
	float: left;
	height: 312px;
	width: 476px;
	background-image: url(/images/homepage/bgd_newsRotator.gif);
}
.main_blog {
	float: left;
	width: 266px;
	margin-top: 0px;
	height: 280px;
	padding-left: 15px;
	padding-top: 6px;
	
}
.main_blog_imageLeft {
	margin-right: 2px;
	float: left;
	clear: both;
	text-align: left;
	margin-left: -4px;
}
.main_stocks {

	float: left;
	width: 266px;
	margin-top: 8px;
	height: 20px;
	clear: left;
	color: #FFFFFF;
	padding-left: 15px;
	font-size:10px;


}

.main_stocks h2 {
	display: inline;
	color:#FFFFFF;
}


.main h1 {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #7d7d7d;
	font-weight: bold;
	display: inline;
	margin-bottom: 5px;
	margin-top: 5px;
}


.main h1 a:link, .main h1 a:visited {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #7d7d7d;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}


 .main h1 a:hover, .main h1 a:active {
	text-decoration: none;
	/*font-family: "Times New Roman", Times, serif;
	font-size: 20px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #CC0000;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
.greyline_noMargin {
	height: 1px;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	float: left;
	
}
.newRotator_left {
	width: 232px;
	height: 288px;
	float: left;
}
.hand_cursor {
	cursor: hand;
}
.newRotator_title {
	height: 27px;
	width: 232px;
	color:#FFF;
	background-image: url(/images/homepage/bgd_blue.gif);
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	text-indent: 8px;
}
.newRotator_right {
	margin-top: 10px;
	float:left;
	height: 278px;
	width: 235px;
}
.newRotator_right h1 {
	font-size:20px;
	color:#000;
	font-weight:bolder;
	line-height:21px;
}
.newsRotator_base {
	float:left;
	clear:left;
	line-height:22px;
	text-indent:5px;
	width: 378px;
}
.newsRotator_base a:link, .newsRotator_base a:visited {
	color: #FFFFFF;
	text-decoration: underline;

}
.newsRotator_base a:hover, .newsRotator_base a:active {
	color: #ffbe40 !important;
	text-decoration: underline;

}
.newsRotator_controls {
	float: right;
	width: 90px;
	height: 21px;
	
}
.newsRotator_bgditem {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-bottom-color: #999;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #efefef;
	padding: 2px;
}
.RadRotator_Default .radr_clipRegion 
{ 
width: 100%; 
height: 100%; 
background-color: Transparent; 
overflow: auto; 
position: absolute; 
} 

#magazines_ASIstore {
	position:absolute;
	width:789px;
	height:115px;
	z-index:1;
	left: 22px;
	top: 56px;
	text-align:right;
}
#magazines2_ASIstore {
	position:absolute;
	width:598px;
	height:115px;
	z-index:1;
	left: 212px;
	top: 56px;
	text-align:right;
}
.padding {
	padding: 10px;
}
.bulletedList li ul {
	margin: 0px;
	padding: 0px;
}

.bulletedList  li  {
	margin-top:5px;
}
.yellowText	{
	color:#ffd60a;
}
.tableborder td {
	border: #999 solid 1px;
}.highlight {
	background-color: #FFFFCA;
	padding: 5px;
	border: 1px solid #cc0000;
}
.priceTag {
	position:absolute;
	left:38px;
	top:490px;
	width:151px;
	height:75px;
	z-index:3;
	padding-top:7px;
}
.priceProduct {
	position:absolute;
	top:0px;
	z-index:1;
}
.newTag {
	position:absolute;
	left:3px;
	top:329px;
	width:197px;
	height:88px;
	z-index:3;
}
.burst {
	position:absolute;
	left:139px;
	top:466px;
	width:71px;
	height:68px;
	z-index:3;
}
.PDFListLinks {
	clear: left;
	float: left;
	width: 250px;
	font-weight: bold;
}

.PDFListLinks ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	margin-left: -20px;
	display: block;
	width: 250px;
	height: 33px;
	overflow:hidden;
	padding-left: 20px;
}
.PDFListLinks img {
	overflow: visible;
	margin-bottom: -10px;
}

.PDFListLinks  a:link, .PDFListLinks a:visited {
	color: #cc0000;
	text-decoration: none;
	width: 250px;
	height: 33px;
	background-image: url(/images/icons/pdfsm.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.PDFListLinks  a:hover,  .PDFListLinks a:active {
	color: #999;
	text-decoration: none;
	width: 250px;
	height: 33px;
	background-image: url(/images/icons/pdfsm.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.PodcastListLinks {
	float: left;
	width: 250px;
	font-weight: bold;
}

.PodcastListLinks ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	margin-left: -25px;
	display: block;
	width: 250px;
	height: 33px;
	overflow:visible;
	padding-left: 20px;
}
.PodcastistLinks img {
	overflow: visible;
	margin-bottom: -10px;
}

.PodcastListLinks  a:link, .PodcastListLinks a:visited {
	color: #cc0000;
	text-decoration: none;
	width: 250px;
	height: 33px;
	background-image: url(/images/icons/icon_downloadPodcast.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.PodcastListLinks  a:hover,  .PodcastListLinks a:active {
	color: #999;
	text-decoration: none;
	width: 250px;
	height: 33px;
	background-image: url(/images/icons/icon_downloadPodcast2.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}

.twtr-tweet-wrap {
	margin-bottom: -7px !important;
	background:#FFF !important;

}

.twtr-tweets {
background:#FFF !important;
}

.twtr-reference-tweet {
    background-image: url(/images/twitterbgd.jpg) !important;
	width:750px !important;
	height: 140px !important;
	position:absolute !important;
	z-index:-1 !important;

}

.subscribeButton {
	position:absolute;
	left:566px;
	top:56px;
	width:151px;
	height:75px;
	z-index:3;
}
.subscribeButton2 {
	position:absolute;
	top:0px;
	z-index:2;
}
.sponsoredTwitter {
	position:absolute;
	left:325px;
	top:813px;
	width:247px;
	height:33px;
	z-index:3;
}
#flashconsole {
	position:absolute;
	left:21px;
	top:19px;
	width:960px;
	height:600px;
	z-index:3;
	overflow: hidden;
}
.shareIcons {
		padding-top:5px;
		text-align: center;
		width: 100%;
}
.shareIcons img {
		vertical-align:middle;
	
}
.nealAward {
	position:absolute;
	left:255px;
	top:121px;
	width:247px;
	height:33px;
	z-index:3;
}
.logoGrid {
	background-image: url(/images/shoppingcart/grid2.gif);
	background-repeat: no-repeat;
	background-position:center;
	height:300px;
}
.logoGridInner {
	
	float:left;
	padding-top: 50px;
	overflow: hidden;
}
.logoWidth {
	position: relative;
	width:150px;
	top: 32px;
	left:-20px;
	z-index:3;
}
.logoHeight {
	position: relative;
	width:50px;
	top: 320px;
	left:301px;
	z-index:3;

}