h1 {
    color:#96142A;
	font-size: 16px;
}

h2 {
    color:#96142A;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

h4 {
    color:#4D4D4D;
}

#header {
    background: transparent url('/images/espwebsitessupport/top-gradient.gif') 0px 0px no-repeat scroll;
    width:970px;
    height:121px;
}

#logo {
    height:121px; 
    padding:40px 0px 0px 40px;  
    float:left;
    width:20%;
}
#search {
    float:left;
    width:30%;
    padding:45px 0 0 120px;
}
#links {
    width:35%;
    height:121px;
    float:left;
    padding-top:26px;
}
#getStarted {
    background-image:url('/images/espwebsitessupport/button-how-do-i-get-started.gif');
    display:block;
    width:110px;
    height:81px;
    float:left;
}

    #getStarted:hover {
    background-image:url('/images/espwebsitessupport/button-how-do-i-get-started-hover.gif');
    display:block;
    width:110px;
    height:81px;
    float:left;
}

#login {
    display:block;
    width:110px;
    height:81px;
    float:left;
}
	#login.espwebsites {
		background-image:url('/images/espwebsitessupport/button-login-to-esp-websites.gif');
	}
		#login.espwebsites:hover {
			background-image:url('/images/espwebsitessupport/button-login-to-esp-websites-hover.gif');
		}
	#login.espweb {
		background-image:url('/images/espwebsitessupport/button-login-to-esp-web.gif');
	}
		#login.espweb:hover {
			background-image:url('/images/espwebsitessupport/button-login-to-esp-web-hover.gif');
		}

   

#purchase {
    background-image:url('/images/espwebsitessupport/button-purchase-a-license.gif');
    display:block;
    width:110px;
    height:81px;
    float:left;
}
    #purchase:hover     {
        background-image:url('/images/espwebsitessupport/button-purchase-a-license-hover.gif');
    }
    
#leftContent {
    width: 421px;
    float:left;
	padding-left: 40px;
    padding-right: 20px;
}

#rightContent {
    width:430px;
    float:left;
    padding-right:10px;
	margin-top: 2px;
}
#tip {
	background: transparent url('/images/espwebsitessupport/box-i-icon.gif') top left no-repeat scroll;
    padding:18px 30px 5px 25px;
	height: 112px;
	overflow: hidden;
}
	#tip p {
		padding-top: 4px;
		margin-top: 0px;
	}

#howDoI {
    border:1px solid #CCCCCC;  
    padding: 2px;
	margin: 2px;
	margin-top: 0px;
}	
	.tab1, .tab2, .tab3, .tab4 {
		border:1px solid #CCCCCC;
	}
	.btn1, .btn1:hover, .btn2, .btn2:hover, .btn3, .btn3:hover, .btn4, .btn4:hover {
		border: 1px solid #CCCCCC;
		border-bottom: none;
		display: inline;
		padding: 8px;
		margin-left: 2px;
		text-align: center;
		/* width: 90px; btn 1 */
		/* width: 150px; btn 2 */
		float:left;
		cursor:pointer;
		text-decoration:none;
	}
	.btn1Unselected, .btn2Unselected, .btn3Unselected, .btn4Unselected {
	    /* border: none; */
		border: 1px solid #FFFFFF;
		border-bottom: none;
		display: inline;
		padding: 8px;
		margin-left: 2px;
		text-align: center;
		/* width: 90px;  btn 1*/
		/* width: 150px;  btn 2 */
		float:left;
		cursor:pointer;
		text-decoration:none;
	}
		.btn1Unselected:hover, .btn2Unselected:hover, .btn3Unselected:hover, .btn4Unselected:hover {
			border: 1px solid #CCCCCC;
			border-bottom: none;
			text-decoration:none;
		}
.btn1 h2, .btn2 h2, .btn3 h2, .btn4 h2 {
	color: Gray;
	}

.accordion {
	padding: 6px;
	}
	.accordion ul {
		display:none;
	}
		.accordion ul li,
		.accordion ul li a {
			color:#96142A;
		}
	.accordion h3 {
		border-bottom: 1px solid #E6E6E6;
		display: block;
		padding-top: 9px;
		padding-bottom: 9px;
		margin: 0;
	}

.head a {
    color:Gray;
}


#featuredVideos {
    border:1px solid #CCCCCC;
    padding:10px;
	margin-bottom: 40px;
}



