@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-blogging1:before {
	content: "\e000";
}
.flaticon-book257:before {
	content: "\e001";
}
.flaticon-building8:before {
	content: "\e002";
}
.flaticon-button44:before {
	content: "\e003";
}
.flaticon-calendar53:before {
	content: "\e004";
}
.flaticon-chat118:before {
	content: "\e005";
}
.flaticon-checkbox6:before {
	content: "\e006";
}
.flaticon-comments16:before {
	content: "\e007";
}
.flaticon-computer147:before {
	content: "\e008";
}
.flaticon-copyright:before {
	content: "\e009";
}
.flaticon-credit-card5:before {
	content: "\e00a";
}
.flaticon-email5:before {
	content: "\e00b";
}
.flaticon-facebook2:before {
	content: "\e00c";
}
.flaticon-facebook55:before {
	content: "\e00d";
}
.flaticon-file150:before {
	content: "\e00e";
}
.flaticon-gear39:before {
	content: "\e00f";
}
.flaticon-graduation-cap2:before {
	content: "\e010";
}
.flaticon-human15:before {
	content: "\e011";
}
.flaticon-information3:before {
	content: "\e012";
}
.flaticon-instagram12:before {
	content: "\e013";
}
.flaticon-instagram19:before {
	content: "\e014";
}
.flaticon-international41:before {
	content: "\e015";
}
.flaticon-letter52:before {
	content: "\e016";
}
.flaticon-letters11:before {
	content: "\e017";
}
.flaticon-linkedin1:before {
	content: "\e018";
}
.flaticon-linkedin11:before {
	content: "\e019";
}
.flaticon-login12:before {
	content: "\e01a";
}
.flaticon-login17:before {
	content: "\e01b";
}
.flaticon-magic7:before {
	content: "\e01c";
}
.flaticon-magnifying47:before {
	content: "\e01d";
}
.flaticon-marker20:before {
	content: "\e01e";
}
.flaticon-musicplayer7:before {
	content: "\e01f";
}
.flaticon-news29:before {
	content: "\e020";
}
.flaticon-opened29:before {
	content: "\e021";
}
.flaticon-phonereceiver14:before {
	content: "\e022";
}
.flaticon-pin56:before {
	content: "\e023";
}
.flaticon-pinterest34:before {
	content: "\e024";
}
.flaticon-podcast3:before {
	content: "\e025";
}
.flaticon-questions1:before {
	content: "\e026";
}
.flaticon-reading36:before {
	content: "\e027";
}
.flaticon-refresh57:before {
	content: "\e028";
}
.flaticon-rss44:before {
	content: "\e029";
}
.flaticon-search1:before {
	content: "\e02a";
}
.flaticon-shop14:before {
	content: "\e02b";
}
.flaticon-pinterest11:before {
	content: "\e02c";
}
.flaticon-star178:before {
	content: "\e02d";
}
.flaticon-stocks2:before {
	content: "\e02e";
}
.flaticon-symbol13:before {
	content: "\e02f";
}
.flaticon-price1:before {
	content: "\e030";
}
.flaticon-telephone5:before {
	content: "\e031";
}
.flaticon-tick7:before {
	content: "\e032";
}
.flaticon-trophy36:before {
	content: "\e033";
}
.flaticon-twitter:before {
	content: "\e034";
}
.flaticon-twitter1:before {
	content: "\e035";
}
.flaticon-up22:before {
	content: "\e036";
}
.flaticon-web-programming:before {
	content: "\e037";
}
.flaticon-webpage11:before {
	content: "\e038";
}
.flaticon-youtube31:before {
	content: "\e039";
}
.flaticon-youtube35:before {
	content: "\e03a";
}
