.form
{
  width: 500px;
  color: #3E4A49;
  background-color: #f2f2f2;
  padding: 20px;
  border: 2px solid #2f3030;
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
  font-size: 11px;
}

fieldset
{
  padding: 0 20px 20px;
  margin: 0 0 20px;
  border: 1px solid #3E4A49;
}

legend
{
	color: #FFFFFF;
	background-color: #4899BE;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 0;
	border: 1px solid #3E4A49;
}

.supplier legend 
{
  color: #FFFFFF;
  background-color: #CC0000;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 0;
  border: 1px solid #3E4A49;
}

.decorator legend
{
  color: #FFFFFF;
  background-color: #54bd4d ;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 0;
  border: 1px solid #3E4A49;
}

.label
{
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 30%;
  padding-top: 0.25em;
  margin: 1em 5px 0 0;
}

input.formfields , select.formfields 
{
  margin: 1em 0 0 0;
  width: 50%;
  border: 1px solid #FEF7D6;
  padding: 2px;
  background: #FFFFFF url("/images/field_bg.gif") no-repeat 0 0;
}


input.formfields:focus, select.formfields:focus
{
  border: 1px solid #4899BE;
}

#buttons
{
  text-align: right;
  margin: -15px 0 -5px 0;
}

input.button
{
  width: auto;
  background: #FFFFFF;
  border: 2px solid #4899BE;
  cursor:hand;
}
.nextRollover 
{
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:139px;
    height:42px;
}
a.nextRollover  {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_next.gif);
    background-repeat: no-repeat;
}
a.nextRollover:hover {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_next_over.gif);
    background-repeat: no-repeat;
}

.previousRollover 
{
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:139px;
    height:42px;
}
a.previousRollover  {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_previous.gif);
    background-repeat: no-repeat;
}
a.previousRollover:hover {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_previous_over.gif);
    background-repeat: no-repeat;
}
.previousDisabledRollover 
{
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:139px;
    height:42px;
}
a.previousDisabledRollover  {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_previous_gray.gif);
    background-repeat: no-repeat;
}
.nextDisabledRollover 
{
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:139px;
    height:42px;
}
a.nextDisabledRollover  {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_next_gray.gif);
    background-repeat: no-repeat;
}
.finishRollover 
{
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:139px;
    height:42px;
}
a.finishRollover  {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_finish.gif);
    background-repeat: no-repeat;
}
a.finishRollover:hover {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_finish_over.gif);
    background-repeat: no-repeat;
}
.submitRollover 
{
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:139px;
    height:42px;
}
a.submitRollover  {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_submit.gif);
    background-repeat: no-repeat;
}
a.submitRollover:hover {
    display: block;
    width:139px;
    height:42px;
    background-image:url(/images/shoppingcart/but_submit_over.gif);
    background-repeat: no-repeat;
}
.uploadArtRollover 
{
	margin:20px 20px 20px 20px;
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:360px;
    height:42px;
}
a.uploadArtRollover  
{
	margin:20px 20px 20px 20px;
    display: block;
    width:360px;
    height:42px;
    background-image:url(/images/shoppingcart/but_uploadyourart.gif);
    background-repeat: no-repeat;
}
a.uploadArtRollover:hover 
{
	margin:20px 20px 20px 20px;
    display: block;
    width:360px;
    height:42px;
    background-image:url(/images/shoppingcart/but_uploadyourart_over.gif);
    background-repeat: no-repeat;
}
.uploadArtDisabledRollover 
{
	margin:20px 20px 20px 20px;
	margin-top:-25px;
	margin-right:25px;
    display: block;
    width:360px;
    height:42px;
}
a.uploadArtDisabledRollover  
{
	margin:20px 20px 20px 20px;
    display: block;
    width:360px;
    height:42px;
    background-image:url(/images/shoppingcart/but_uploadyourart_gray.gif);
    background-repeat: no-repeat;
}
.ruInputs, .ruProgress 
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

.radupload 
{
	text-align:left;
}

.ruFileWrap 
{
	white-space:nowrap;
}