@charset "utf-8";
/* CSS Document */


.impress_header {
	background-image: url(/Images/impressionsstudy/globe.gif);
	background-repeat: no-repeat;
	height: 130px;
	width: 605px;
	margin-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.impress_items {
	width: 292px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 120px;
}
.impress_itemHeaders {
	height: 24px;
	width: 292px;
	background-image: url(/Images/impressionsstudy/headingSelected.gif);
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	filter: Glow(Color=000000, Strength=80);
}

.impress_itemHeadersDim {
	height: 24px;
	width: 292px;
	background-image: url(/Images/impressionsstudy/headingSelected.gif);
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
}

.impress_greyBorderBottom {
	border-bottom:#999 1px solid;
}

.impress_ResultTbl 
{
    width:100%;              
}
.impress_ResultTbl th{
      background-color:#adcdec;
      font-weight:bold;        
}
.impress_ResultTbl td{
      border-bottom:#999 1px solid;
      text-align:center;      
}

img.iconShirts{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -6px;
}
img.iconCaps{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -28px
}
img.iconJackets{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -47px
}
img.iconBags{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -68px
}
img.iconWriting{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -90px
}
img.iconHealth{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -110px
}
img.iconRecognition{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -129px
}
img.iconGlassware{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -151px
}
img.iconDesk{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -170px
}
img.iconCalendars{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -190px
}
img.iconElectronics{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -212px
}
img.iconAutomotive{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -2px -230px; width:29px
}
img.iconFood{
	width:18px;
	height:20px;
	margin-right:2px;
	background:url('/Images/sprites/icons_Sprite.png');
	border:none;
	background-position: -9px -252px
}