/* MAIN */
#ka_mainContainer {margin:0 auto;padding:0;width:730px;background:transparent;color:#323232;font:83% normal "Lucida Grande", arial, tahoma, sans-serif;line-height:1.4em;text-align:left !important}
#ka_header {
	margin:0 auto 6px;
	padding:0;
	clear:both;
	display: none;
}
#ka_contentContainer {margin:0 auto;padding:0;width:730px}
#ka_leftColumn {float:left;margin:0;padding:0;width:420px}
#ka_rightColumn {float:right;padding:0;width:300px}
#ka_footer {margin:40px auto 15px;padding:8px 0;width:100%;border-top:1px solid #ccc;clear:both}

/* NAVIGATION */
#ka_headerTopNav ul {margin:0;padding:6px}
#ka_headerTopNav li {display:inline;margin:0 0 0 3px}
#ka_headerTopNav li a {padding:4px 8px 8px;text-decoration:none !important}
#ka_headerTopNav li.current a {background:#9ce url("/kickapps/images/navgradient.gif") repeat-x;color:#fff}
#ka_headerTopNav li a:hover {background:#9ce url("/kickapps/images/navgradient.gif") repeat-x;color:#fff}
#ka_headerSubNav {margin:0;padding:6px;background:#9ce}
#ka_headerSubNav ul {margin:0;padding:0}
#ka_headerSubNav li {display:inline;margin:0 0 0 11px}
#ka_headerSubNav li.ka_addMedia {float:right;font-weight:bold;margin:0 10px 0 0;padding-left:22px}
#ka_headerSubNav li.ka_addMedia.ka_addMedia_photo {background:url(/kickapps/images/photoup.gif) no-repeat scroll 0 0}
#ka_headerSubNav li.ka_addMedia.ka_addMedia_blog {background:url(/kickapps/images/blogup.gif) no-repeat scroll 0 0}
#ka_headerSubNav li.ka_addMedia.ka_addMedia_video {background:url(/kickapps/images/vidup.gif) no-repeat scroll 0 0}
#ka_headerSubNav li.ka_addMedia.ka_addMedia_audio {background:url(/kickapps/images/audup.gif) no-repeat scroll 0 0}
#ka_headerSubNav li.ka_addMedia.ka_addMedia_group {background:url(/kickapps/images/grouprequest.png) no-repeat scroll 0 0;padding-left:28px}
#ka_headerSubNav li.ka_addMedia.ka_addMedia_friend {background:url(/kickapps/images/myHome/group_add.png) no-repeat scroll 0 0}
#ka_headerSubNav li.ka_submyMessagesMail {background:transparent url(/kickapps/images/myHome/email.png) no-repeat scroll 0 2px;padding:0 0 0 20px}
#ka_headerSubNav a:visited .ka_newmail,#ka_headerSubNav a:hover .ka_newmail {color:#fff}
#ka_headerSubNav li a {padding:0 0 7px;text-decoration:none !important}
#ka_headerSubNav li.current a {color:#fff;background:url("/kickapps/images/subarrow.gif") no-repeat bottom center}
#ka_headerSubNav li a:hover {color:#fff;background:url("/kickapps/images/subarrow.gif") no-repeat bottom center}
#ka_headerBtmNav {margin:0;padding:3px}
#ka_headerLogin {float:left}
#ka_headerLogin ul {margin:0 0 0 14px;padding:0}
#ka_headerLogin li {display:inline;margin:0 6px 0 0}
#ka_headerLogin li a {padding:0}
#ka_headerLogin li a.ka_nomarginLogin {padding-left:0}
#ka_login_area li.ka_manage_auth a,#ka_login_area li.ka_LE_open a {color:green;font-weight:bold}
#ka_headerSearch {float:right;width:245px;margin:0 12px 0 0}
#ka_headerSearch input.ka_searchField {float:right;margin:0;padding:1px;width:140px}
#ka_searchText {float:right;width:58px;margin:0;padding:0}
.ka_searchButton {float:right;background:transparent url(/kickapps/images/searchicon.png) no-repeat 0 0;border:none;height:24px;width:24px;overflow:hidden;margin:0 3px 0 5px;padding:0;text-indent:-9000px}
#ka_searchAdv1 {clear:both;float:right;width:238px}
#ka_searchAdv1 ul {margin:0;padding:3px;font-size:.82em}
#ka_searchAdv1 li {display:inline;margin:0;padding:6px 2px 6px 0}
#ka_searchAdv1 input {vertical-align:middle;margin:0 !important;border:none !important}
#ka_search_basic {margin-right:23px}
.ka_breadcrumb li {display:inline;margin:0}
.ka_breadcrumb ul {margin:0 0 10px 5px;padding:0}
#ka_topHeaderImage {float:left}
#ka_headerBtmNav li.ka_username_auth {display:none}

/* FOOTER */
#footerUser {margin:0 0 0 8px;padding:0}
#footerUser li {display:inline;margin:0 8px 0 0}

/* TYPOGRAPHY */
#ka_mainContainer h1, #ka_mainContainer h2, #ka_mainContainer h3, #ka_mainContainer h4 {font:1em normal "Lucida Grande", arial, tahoma, sans-serif;color:#444}
#ka_mainContainer h1 {font-size:1.8em}
#ka_mainContainer h2 {font-size:1.6em;margin:.5em;font-weight:bold}
#ka_mainContainer h3 {font-size:1.2em;padding:0 0 5px 8px;border-bottom:1px solid #ccc}
#ka_mainContainer h4 {font-size:1em}
#ka_mainContainer p {margin:0 .5em 1em}
h3.ka_comments {padding-left:24px;background:transparent url("/kickapps/images/comments.gif") no-repeat 0 2px;border:none !important}

/* LE CSS change for header */
#ka_le_headercont {color:#444}
#ka_le_headercont h2 {color:inherit}

/* GENERAL */
#ka_mainContainer li {list-style-type:none}
.ka_Truncate {width:100px;height:15px;overflow:hidden}
.ka_Small {font-size:.82em}
.ka_loginRight {float:right;margin:0;padding:0;width:360px}
.ka_displayNone {display:none}
.ka_more {float:right;margin:2px 8px 0 0;font-size:.86em;font-weight:bold}
.ka_null {margin:0;padding:3px 3px 3px 8px;font-size:.88em}

/* Line-breaking for Opera */
wbr:after { content: "\00200B" }

.clearfix:after {content:".";display: block;height:0;clear:both;visibility:hidden}
.clearfix {display:inline-block}
/* Hides from IE-mac \*/
* html .clearfix {height:1%}
.clearfix {display:block}
/* End hide from IE-mac */

/* LINKS */
#ka_mainContainer a,#ka_mainContainer a:link,#ka_mainContainer a:focus {text-decoration:underline;outline:none;cursor:pointer}
#ka_mainContainer a:hover {text-decoration:none;outline:none;cursor:pointer}
#ka_mainContainer a:link {color:#369}
#ka_mainContainer a:visited {color:#369}
#ka_mainContainer a:hover,#ka_mainContainer a:active {color:#69c}
#ka_mainContainer a.ka_smLink {font-size:.82em;text-transform:none}
#ka_mainContainer a.ka_smLink:hover {font-size:.82em}

/* FORMS */
fieldset {border:1px solid #ccc;margin:0 auto 20px;padding:.7em 1.2em 1.2em;font-size:.96em}
legend {margin:0;padding:0.5em;color:#59a3d3;text-transform:uppercase;font-size:1em}
label {display:block;margin:0 0 4px;padding:0;font-weight:bold;color:#369}
label.ka_inlineLabel {display:inline}
#ka_mainContainer input,#ka_mainContainer textarea,#ka_mainContainer select {margin:0 0 12px;padding:4px;background:#fff;border:1px solid #ccc;color:#161616;font:13px normal "Lucida Grande", arial, tahoma, sans-serif}
#ka_mainContainer input:focus,#ka_mainContainer input:hover,#ka_mainContainer textarea:focus,#ka_mainContainer textarea:hover {background:#f2f2f2;border:1px solid #aaa}
#ka_mainContainer input.ka_submit {width:54px;height:20px;margin:0;padding:0;background:#e5e5dd url("/kickapps/images/submit.gif") top left no-repeat;border:none}
#ka_mainContainer input.ka_submit:hover {background:#c9c9c2 url("/kickapps/images/submit.gif") no-repeat 0 -20px}
#ka_mainContainer input.ka_inputTiny {margin:0;padding:2px;font:10px normal arial, sans-serif}
#ka_mainContainer input.ka_inputTiny:focus {border:1px solid #aaa}
#ka_mainContainer input.ka_button {margin:0;padding: 2px 4px;background:#fff url("/kickapps/images/ka_buttonbghover.gif") repeat-x 0 100%;cursor:pointer}
#ka_mainContainer input.ka_button:hover {background:#fff url("/kickapps/images/ka_buttonbg.gif") repeat-x 0 0}
fieldset.ka_required ul,fieldset.ka_optional ul,fieldset.ka_required ol,fieldset.ka_optional ol {margin:0;padding:0}
fieldset.ka_required ul text {width:200px}
ul#ka_joinRequired li#ka_joinDOB,ul#ka_joinRequired li#ka_joinImage,ul#ka_joinRequired li#ka_joinTOS,ul#ka_loginRequired li#ka_loginSubmit {margin:0 0 12px}
li#ka_loginRetrieve {padding:8px 0 0}
li#ka_joinSubmit {padding:8px 0 0}

/* ALERT, ERROR, HELPTEXT */
.ka_Help,.ka_Alert,.ka_Error,.ka_Success {margin:0 auto 10px;padding:2px 6px 2px 28px}
.ka_Help,.textareaCharacterCountDisplay {background:#f5f5f5;margin:6px 0;padding:2px 8px;color:#000;font-size:.88em}
.ka_Alert {background:#e9fbfb url(/kickapps/images/membermessage/exclaim.gif) no-repeat 6px center;margin:0 0 10px;border:1px solid #a5e1ed;color:#4185CC}
.ka_Success {background:#e2f9e3 url(/kickapps/images/membermessage/checkmark.gif) no-repeat 6px center;border:1px solid #99cc99;color:#006600}
.ka_Error {padding:2px 0;margin:0;background:transparent;color:#cf0211}
/* override background color from ka_Help class */
.textareaCharacterCountDisplay{background:transparent}

/* Helper bubble code Text */
.bubblemain {display:none;position:absolute;margin:30px 0 0 210px;width:160px;display:none !important}
.bubblemain_lg {display:none;position:absolute;margin:20px 0 0 210px;width:350px;display:none !important}
.bubbletop {background-image:url(/kickapps/images/affiliate/quote-top.gif);background-position:right bottom;background-repeat:no-repeat;height:3px}
.bubbletop_lg {background-image:url(/kickapps/images/affiliate/quote-top-lg-arrow.gif);background-repeat:no-repeat;height:21px}
.bubblebody {background-image:url(/kickapps/images/affiliate/quote-left.gif);background-position:left top;background-repeat:repeat-y;border-right:1px solid #C3C3C3;padding:5px 3px 10px 12px;position:relative;}
.bubblebody_lg {background-image:url(/kickapps/images/affiliate/quote-left-lg.gif);background-position:left top;background-repeat:repeat-y;border-right:1px solid #C3C3C3;padding:5px 3px 10px 12px;position:relative;}
.bubblebottom {background-image:url(/kickapps/images/affiliate/quote-bottom.gif);background-position:right top;background-repeat:no-repeat;height:3px;position:relative;}
.bubblebottom_lg {background-image:url(/kickapps/images/affiliate/quote-bottom-lg.gif);background-position:right top;background-repeat:no-repeat;height:3px;position:relative;}
#ka_mainContainer .bubblebody_lg h3{margin:0;padding:5px 0;color:#6699CC;border:none;font-weight:bold}

/* ADS */
#ka_adFullBanner {margin:0 auto 12px;padding:5px 0;width:728px}
#ka_adMediumRectangle {margin:0 0 10px;padding:0;width:300px;height:250px;overflow:hidden}
#ka_adLeftSkyscraper {margin:0 10px 0 0;padding:0;width:120px;height:600px;overflow:hidden}
#ka_adRightSkyscraper {float:right;margin:33px 0 40px;padding:0;width:120px;height:600px;overflow:hidden}
#ka_adRightSkyscraperWide {float:right;margin:33px 0 40px;padding:0;width:160px;height:600px;overflow:hidden}
.ka_adWide {width:905px !important}
.ka_adWideContent {margin:0 !important;float:left}
.ka_adWideTop {margin:0 !important}

/* COMMENTS */
/*  Thanks to Will Mayo for the Speech Bubbles  */
.ka_addComment {margin-bottom:12px;padding-left:24px;min-height:20px;height:auto !important;height:20px;background:transparent url("/kickapps/images/add-small.gif") no-repeat 0 -2px}
.ka_inputComment input {margin-top:10px}
#ka_playPageComments {margin:0;padding:0;width:418px;min-height:100px;height:auto !important;height:100px}
#ka_commentList {margin:0;padding:0;width:418px}
#ka_commentList li {margin:0;padding:0}
.ka_bubble {width:auto;margin-bottom:24px}
.ka_bubble blockquote {margin:0;padding:8px 0;min-height:28px;height:auto !important;height:28px;border:1px solid #c9c2c1;word-wrap:break-word}
.ka_bubbleComment {margin:-4px 8px 0 41px;padding:0}
.ka_bubble cite {position:relative;margin:0;padding:7px 0 0 0;top:4px;background:transparent url("/kickapps/images/tip.gif") no-repeat 20px 0;white-space: nowrap;font-style:normal}
.ka_bubbleLong {width:670px !important}
.ka_flag {float:left;margin:0;padding-left:24px;width:152px;background:transparent url("/kickapps/images/flag.gif") no-repeat 0 0}
.ka_flag_comment {float:none}

/*MYHOME ICONS */
.ka_bubbleComment .ka_mediaComments {margin:0pt 10px 0pt 0pt;padding-left:16px;word-wrap:break-word}
.ka_bubbleComment .ka_mediaComments.video {background:transparent url(/kickapps/images/ico_video.gif) no-repeat scroll 0pt}
.ka_bubbleComment .ka_mediaComments.photo {background:transparent url(/kickapps/images/ico_photo.gif) no-repeat scroll 0pt}
.ka_bubbleComment .ka_mediaComments.audio {background:transparent url(/kickapps/images/ico_aud.gif) no-repeat scroll 0pt}
.ka_bubbleComment .ka_mediaComments.blog {background:transparent url(/kickapps/images/ico_blog.gif) no-repeat scroll 0pt}

/* PAGINATION */
.pagination {font-size:.82em;padding:0.5em 0;margin:0.2em 0em; float:right}
.pagination a,.pagination span {float:left;display: block;margin-right:0.1em;padding:0.1em 0.5em;border:1px solid #fff;background:#fff}
.pagination span.status {font-weight:bold;color:#fff;border:1px solid #369;background:#369}
.pagination a {text-decoration:none !important;border:1px solid #369}
.pagination a:hover {border-color:#2e6ab1}
.pagination a.nextprev {font-weight:bold}
.pagination span.nextprev {color:#666}
.pagination span.nextprev {border:1px solid #ddd;color:#999}

/* STAR RATING */
.ka_rate ul {margin:10px 0}
.ka_starSystemL {margin:0;padding:0}
.ka_starSystemL li {display:inline;margin:0}
.ka_starL {background:transparent url(http://affiliate.kickapps.com/kickapps/images/stars/star-big-b.gif) no-repeat 0 0}
.ka_starHighlightL {background:transparent url(http://affiliate.kickapps.com/kickapps/images/stars/star-big-a.gif) no-repeat 0 0}
.ka_starSelectedL {background:transparent url(http://affiliate.kickapps.com/kickapps/images/stars/star-big-c.gif) no-repeat 0 0}
.ka_starSystemL li a {margin:0;padding:0 9px 10px;text-decoration:none !important;min-height:29px;height:auto !important;height:29px}
.ka_starsNumRatingsL {font-size:11px}
.ka_starSystemS {margin:0px;padding:0px }
li.ka_listRating { height:18px; }/* KA-3850 */
.ka_starSystemS li {display:inline;margin:0;height:12px !important;width:9px !important; min-height: none !important;float:left}
.ka_starS {background:transparent url(http://affiliate.kickapps.com/kickapps/images/stars/star-small-c.gif) no-repeat 0px 0px !important}
.ka_starHighlightS {background:transparent url(http://affiliate.kickapps.com/kickapps/images/stars/star-small-a.gif) no-repeat 0px 0px !important}
.ka_starSelectedS {background:transparent url(http://affiliate.kickapps.com/kickapps/images/stars/star-small-b.gif) no-repeat 0px 0px !important}
.ka_starSystemS li a {padding:4px;text-decoration:none}
.ka_starSystemS li a:hover {background-color:transparent !important}
.ka_starsNumRatingsS {font-size:11px;display:none}

/* LIST ELEMENTS */
.ka_listingType,.ka_listingFrom,.ka_listingDate,.ka_listingViews,.ka_listingMemberSince,.ka_listingRating,.ka_listingCreated,.ka_listingMembers,.ka_listingMedia,.ka_listingAddComment,.ka_listingStatus,.ka_listingAdded,.ka_listingEditDelete,.ka_listingSend,.ka_listingViewRemove,.ka_listingBlogType {display:block}
ul.ka_sideList {margin:0;padding:0}
.ka_sideList li {margin:0;padding:3px 3px 3px 8px;border:none;color:#222;font-size:.88em;word-wrap:break-word}
ul.ka_sideList .ka_more {float:right;margin:6px 8px 0 0;padding:0}
body#ka_pending li {list-style-type:decimal;margin-bottom:8px}
#ka_mainContainer .ka_pendingTry li {list-style-type:decimal}
.ka_newEntry {font-weight:bold;color:#000}

/* ICONS */
.ka_gen_upvid {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/vidup.gif") no-repeat 0 0}
.ka_gen_upaud {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/audup.gif") no-repeat 0 0}
.ka_gen_upphoto {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/photoup.gif") no-repeat 0 0}
.ka_gen_upblog {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/blogup.gif") no-repeat 0 0}
.ka_gen_link {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/link_add.gif") no-repeat 0 0}
.ka_gen_group {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/group_add.gif") no-repeat 0 0}
.ka_gen_rss {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/rss_add.gif") no-repeat 0 0}
.ka_gen_rss_link {margin:5px 0 0;padding-left:20px;height:18px;background:transparent url("/kickapps/images/rss_link.gif") no-repeat 0 0}
.ka_gen_upmb {margin:0 0 12px;padding-left:20px;height:18px;background:transparent url("/kickapps/images/mbup.gif") no-repeat 0 0}
.ka_gen_friend {margin:0 0 12px;padding-left:24px;height:18px;background:transparent url("/kickapps/images/myHome/group.png") no-repeat 0 0}
.ka_emailUpload {background:transparent url("/kickapps/images/myHome/emailup.gif") no-repeat 0 0;height:18px;margin:0;padding-left:24px}
.ka_back {background:transparent url("/kickapps/images/myHome/arrow_left.gif") no-repeat 0 2px;height:18px;margin:0 0 12px;padding-left:18px}

/* LETTER BOX IMAGES */
.ka_searchLetterBox {margin:5px 5px 3px;padding:0;width:136px;height:102px;display:block}
.ka_letterBox48x48 {margin:5px;padding:0;width:48px;height:48px;display:block}
.ka_letterboxComment {float:left;margin:0 5px -8px 5px;padding:0;width:24px;height:24px;border:1px solid #ccc;display:block}
.ka_letterboxSlideShow {float:left;margin:1px 5px 0 0;padding:0;width:48px;height:48px;border:1px solid #ccc;display:block}
#ka_letterboxUser {float:left;margin:5px 5px -8px 5px;padding:0;width:48px;height:48px;border:1px solid #ccc;display:block}
#ka_letterboxUserList {margin:5px 5px 3px;padding:0;width:136px;height:102px;display:block}
#ka_letterboxRelated {float:left;margin:1px 5px 0 0;padding:0;width:100px;height:75px;border:1px solid #ccc;display:block}
.ka_moduleLetterBox {margin:0;padding:0;width:85px;height:65px;display:block}
#ka_letterboxPhotoEnlarge {display:block;float:left;height:550px;margin:1px 5px 10pt 0pt;padding:0pt;width:730px;border:1px solid #ccc}
#ka_letterboxPhotoPage {display:block;float:left;height:315px;margin:0;padding:0;width:420px;}

/* LETTERBOX SIZES */
.ka_letterBox_240x320,.ka_letterBox_120x160,.ka_letterBox_75x100,.ka_letterBox_60x80,.ka_letterBox_45x60,.ka_letterBox_48x48 {background-color:#000;background-position:center;background-repeat:no-repeat;border:1px solid #ccc;display:block}
a.ka_letterBox_240x320,a.ka_letterBox_240x320:visited,a.ka_letterBox_240x320:hover,a.ka_letterBox_240x320:active,a.ka_letterBox_120x160,a.ka_letterBox_120x160:visited,a.ka_letterBox_120x160:hover,a.ka_letterBox_120x160:active,a.ka_letterBox_75x100,a.ka_letterBox_75x100:visited,a.ka_letterBox_75x100:hover,a.ka_letterBox_75x100:active,a.ka_letterBox_60x80,a.ka_letterBox_60x80:visited,a.ka_letterBox_60x80:hover,a.ka_letterBox_60x80:active,a.ka_letterBox_45x60,a.ka_letterBox_45x60:visited,a.ka_letterBox_45x60:hover,a.ka_letterBox_45x60:active,a.ka_letterBox_48x48,a.ka_letterBox_48x48:visited,a.ka_letterBox_48x48:hover,a.ka_letterBox_48x48:active,a.ka_colorpicker:hover,a.ka_colorpicker:active {background:transparent;border:none !important}
.ka_letterBox_240x320 img,.ka_letterBox_120x160 img,.ka_letterBox_75x100 img,.ka_letterBox_60x80 img,.ka_letterBox_45x60 img,.ka_letterBox_48x48 img {display:none}
.ka_letterBox_240x320 {height:240px;width:320px}
.ka_letterBox_120x160 {height:120px;width:160px}
.ka_letterBox_75x100 {height:75px;width:100px}
.ka_letterBox_60x80 {height:60px;width:80px}
.ka_letterBox_45x60 {height:45px;width:60px}
.ka_letterBox_48x48 {height:48px;width:48px;margin-left:5px}

/* POPUP:OLD CODE */
#ka_TOSDiv {background:#fff;padding:1em;height:480px}
#ka_termsOfService {border:1px solid #ccc;margin:0;padding:0;overflow:scroll}
.ka_popUpDiv {background:#fff;border:1px solid #999;position:absolute;top:0;left:0;display:none;z-index:10}
.ka_popUpDiv {width:600px;min-height:300px;max-height:600px;height:auto !important;height:300px;padding:1em}
.ka_popUpInnerDiv {width:600px;min-height:300px;max-height:600px;height:auto !important;height:300px;padding:0.1em;z-index:10}
.ka_popUpSingleDiv {background-color:#fff;border:1px solid #000;padding:1em;position:absolute;top:0;left:0;display:none;z-index:1}

/* THE ORDER MATTERS HERE: LEAVE AS IS */
#ka_TOSdiv {height: 350px !important;}
#ka_TOSdiv div#ka_termsOfService{height: 330px !important;}
#ka_TOSdiv p {margin-right:0}
#ka_TOSdiv p input {float:right;margin:10px 0 10px 10px !important}

/* TAG CLOUD */
div.ka_tagCloud {margin:0;padding:8px;font-family:Tahoma;font-weight:900;text-align:center;line-height:22px}
a.ka_tag {text-decoration:none !important}
a.ka_tag1 {font-size:.8em;font-weight:900}
a.ka_tag2 {font-size:.95em;font-weight:900;font-style:italic}
a.ka_tag3 {font-size:1.1em;font-weight:900}
a.ka_tag4 {font-size:1.25em}
a.ka_tag5 {font-size:1.4em}
a.ka_tag6 {font-size:1.55em}

/* Validation */
.ka_disabledInput{color: #ccc !important;}

/* Login Popup */
#ka_loginPopup {background:#fff;border:2px solid #000;padding:1em;display: none;min-height:300px;height:auto !important;height:300px;width:400px;z-index:10}

/* Ka.popup: used in many prompts, alerts, and feedback forms */
.ka_popupBackgroundColor {background-color:#fff;height:60px}
div#ka_popupButtonHolder{float:right}
input#ka_popupSend{margin-right:5px}
div.ka_popup {width:400px;height:auto;padding:0;border:1px solid #ccc; color: #000000 !important;}
div.ka_popup p {margin:10px 0 8px 0 !important;color:#000}
div.ka_popup input#ka_promptInput {width:97%;margin-right:20px;display:block}
div.popup_top, div.popup_bottom {height:13px}
div.popup_corner {height:13px;width:13px;background-color:transparent;background-repeat:no-repeat}
div.ka_popup_middeSection {height:13px;margin:0 13px}
div.popup_mainBody {padding:25px 20px 55px 20px}
div.ka_closePopup {width:21px;height:21px;background:transparent url("../images/popup_closeButton.gif") no-repeat;float:right;cursor:pointer;position:relative;top:-15px}

/* RSS LINKS */
#ka_rss_footer{float:right;margin:0}

/* ADS - bottom banner */
#ka_MKPAdSpace{padding-top:12px}
