/* PLAYPAGE CSS */
#ka_playPagePlayer {margin:0 0 10px;padding:0;width:420px}
#ka_blogPlayer {padding-right:10px;float:left}
.ka_photoView {margin:0;padding:0;height:315px !important}
.ka_enlargeView {margin:0;padding:0;width:730px !important;height:550px !important}
.ka_blogView {border:1px solid #ccc;height:auto !important;margin-bottom:10px;min-height:150px;padding:5px;}
.ka_audioView {border:1px solid #ccc;margin-bottom:10px;padding:5px}
#ka_playPageStats {margin:0 0 10px;padding:5px;border:1px solid #ccc}
#ka_enlargeMeta {margin-bottom:5px}
.ka_statsList {margin:0;padding:0}
#ka_mainContainer h3.ka_comments {padding:0 0 0 20px}
.ka_statsList li {margin:0 auto;padding:0 0 8px;width:400px;clear:both}
/*  Thanks to FamFamFam for the Icons  */
.ka_email {float:left;margin:0;padding-left:24px;width:152px;background:transparent url("/kickapps/images/email.gif") no-repeat 0 0}
.ka_upvid {margin:0 0 0 186px;padding-left:24px;width:152px;background:transparent url("/kickapps/images/vidup.gif") no-repeat 0 0}
.ka_upaud {margin:0 0 0 186px;padding-left:24px;width:152px;background:transparent url("/kickapps/images/audup.gif") no-repeat 0 0}
.ka_upphoto {margin:0 0 0 186px;padding-left:24px;width:152px;background:transparent url("/kickapps/images/photoup.gif") no-repeat 0 0}
.ka_downphoto {margin:0 0 0 186px;padding-left:24px;width:152px;background:transparent url("/kickapps/images/photodown.gif") no-repeat 0 0}
.ka_enlargephoto {float:left;margin:0;padding-left:24px;width:152px;background:transparent url("/kickapps/images/photoenlarge.gif") no-repeat 0 0}
.ka_reducephoto {float:left;margin:0;padding-left:24px;width:152px;background:transparent url("/kickapps/images/photoreduce.gif") no-repeat 0 0}
.ka_upblog {margin:0 0 0 186px;padding-left:24px;width:152px;background:transparent url("/kickapps/images/blogup.gif") no-repeat 0 0}
.ka_addFav {margin:0 0 0 186px;padding-left:24px;width:152px;background:transparent url("/kickapps/images/addFav.gif") no-repeat 0 0}
.ka_rate {float:left;margin:0;padding:0;width:162px}
.ka_stats {margin:0 0 0 186px;padding:0;width:162px}
.ka_url {float:left;margin:0;padding:0;width:162px}
.ka_embed {margin:0 0 0 186px;padding:0;width:190px}

#ka_adminTagsTitle,#ka_tagsTitle {font-weight:bold}
#ka_playPageDetails {margin:0;padding:6px;border:1px solid #ccc}
#ka_uploadedby {min-height:60px;height:auto !important;height:60px}
#ka_letterboxUser#ka_letterboxUser {margin:0 6px 0 0}
#ka_geoInfo {margin:0 0 10px 55px}
#ka_tagsWrap {margin:0 !important}
#ka_categoriesLink {margin:5px 0 !important}
#ka_tagsInput,#ka_adminTagsInput {margin:3px 0}
#ka_widgetArea {display:none}
#ka_playPageRelatedTabs {position:relative;height:2.8em}
#ka_relatedTabs {position:absolute;margin:0;padding:0;bottom:-1px;width:300px}
#ka_relatedTabs li {display:inline}
#ka_relatedTabs a {font-size:10px}
#ka_relatedTabs a:hover {margin-top:0;padding-bottom:5px;background:#fff}
#ka_relatedTabs a,#ka_relatedTabs a.active {display:block;float:left;margin:1px 2px 0 0;padding:2px 6px 4px;text-align:center;text-decoration:none}
#ka_relatedTabs a.active,#ka_relatedTabs a.active:hover {margin-top:0;padding-bottom:5px;background:#fff url("/kickapps/images/tabbg.gif") repeat-x 0 0;border:1px solid #ccc;border-bottom:none}
#ka_related {margin:0;padding:8px 0 0;width:298px;min-height:450px;height:auto !important;height:450px;border:1px solid #ccc}
#ka_rssLink {margin:10px 0;padding:5px;border:1px solid #ccc}
#ka_relatedList {margin:0 auto;padding:0;width:270px}
#ka_relatedList li {margin:0 0 1em;padding:0;min-height:75px;height:auto !important;height:75px}
.ka_thumbdetails {margin:0 0 0 100px;padding:0;font-size:.92em;width:160px}
#ka_editLink {padding-left:25px;background:transparent url('/kickapps/images/pencil.png') no-repeat left center}
#ka_adminControl {margin:10px 0 0;border:1px solid green;padding:6px;background:#f0fef1}
#ka_adminTagsTitle {color:green}
#ka_descriptionText {margin:0 0 10px}
#ka_descriptionText ol li {list-style-type:decimal !important}
#ka_descriptionText ul li {list-style-type:disc !important}
#ka_rssLink h4 {margin:0;padding:0;font-weight:bold}
#ka_rssLink ul {margin:0;padding:0}
#ka_rssLink li {margin:0;padding:0 0 3px 24px;background:transparent url("/kickapps/images/rss_link.gif") no-repeat 0 0}