body  {
	margin: 0px;
	background-image: url(../images/bgdMain.gif);
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}
a:link, a:visited  {
	color: #CC0101;
	text-decoration: none;
}


a:hover, a:active {
	color: #CC0101;
	text-decoration: underline;
}

.blue a:link, .blue a:visited  {
	color: #0087c6;
	text-decoration: none;
}


.blue a:hover, .blue a:active {
	color: #0087c6;
	text-decoration: underline;
}



.inputButtons {
	background-color: #4b83b2;
	border: 3px groove #4b83b2;
	font-weight: bold;
	color: #FFFFFF;
}

form {
	margin: 0px;
}


h1, h2, h3, h4, h5 {
	display:inline;
}

div {
	padding: 0px;
	margin: 0px;

}
p {
	text-align: left;
}
td {
	text-align: left;
}

h1{
	font-size: 22px;
}
h2{
	font-size: 16px;
}

h3{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
h4{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}



.dashedline {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
	margin-top: 2px;
	margin-bottom: 4px;
}
#mainWrapper {
	height: 0.1%;
	cursor:default;
}

#wrapper {
	position: relative;
	padding: 0px;
	width: 1003px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	cursor:auto;
	
}

/* Begin Home Page Header Content */
#top {
	height: 131px;
	width: 100%;
	background-color: #4b83b2;
	background-image: url(../images/bgd_topblue.gif);
}
#top .masthead {
	height: 128px;
	width: 945px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../images/bgd_top1.gif);
	background-position: top;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
/*	overflow:hidden;*/
	z-index: 2000;
}
#top img {
/*	float: left;*/
}
.logo {
	margin-top: 22px;
	float: left;
	margin-left: 0px;
	padding-left: 8px;
}
.banner {
	margin-top: -4px;
	float: right;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	color: #FFFFFF;
	clear: right;
}
.bannerDefault {
	margin-top: -4px;
	margin-left:10px;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	color: #000000;
	clear: both;
}
#mainNavigation {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


.search {
	background-image: url(../images/search_bgd.gif);
	background-repeat: no-repeat;
	float: right;
	width: 204px;
	height: 26px;
	padding: 3px;
}
.searchField {
	border: 1px solid #666666;
	width: 125px;
}
.rightSearchBGD {
	float: right;
	background-image:url(../images/rightsearchBGD.gif);
	height: 32px;

	}
/* End Home Page Header Content */

/* Begin Home Page Flash Content Area */
#mainFrame {
	background-image: url(../images/mainframe.gif);
	height: 191px;
	padding-top: 19px;
	padding-right: 14px;
	padding-bottom: 19px;
	padding-left: 14px;
	background-repeat: no-repeat;
	clear: both;
}
#mainFrame1 {
	background-image: url(../images/mainframe.gif);
	height: 194px;
	padding-top: 18px;
	padding-right: 14px;
	padding-bottom: 19px;
	padding-left: 21px;
	background-repeat: no-repeat;
	clear: both;
}
#mainFrame2 {
	background-image: url(../images/mainframe2.gif);
	height: 194px;
	padding-top: 18px;
	padding-right: 14px;
	padding-bottom: 19px;
	padding-left: 21px;
	background-repeat: no-repeat;
	clear: both;
}
#mainFrame .serviceMain {
	width: 537px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#mainFrame .flashContent {
	float: right;
	width: 315px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
/* End Home Page Flash Content Area */

/* Begin Home Page Left Side Navigation */

#left li  {
	margin: 0px;
	padding: 0px;
}

#left ul  {
	margin: 0px;
	padding: 0px;
}


#left {
	float: left;
	width: 202px;
	background-image: url(../images/leftbgd_bot.gif);
	background-repeat: repeat-y;
}

.leftText {
	float: right;
	width: 95px;
}

#left .bottomLinks {
	padding-bottom:10px;
	padding-top:10px;
	clear: left;
	float: left;
	width: 165px;
}


#left .login {
	background-image: url(../images/leftnav_bgd.gif);
	padding-left: 32px;
	padding-top: 5px;
	float: left;
	width: 168px;
	overflow: hidden;
	padding-bottom: 5px;
	font-size: 10px;
	padding-right: 0px;
	margin: 0px;
	line-height: 11px;
}
.login a:link, .login a:visited  {
	color: #000000;
	text-decoration: none;
}
.login a:hover, .login a:active {
	text-decoration: underline;
}

#left .login img {
	float: left;
	padding-right: 5px;
}
#left .login h1 {
	display: inline;
	font-size: 14px;
	line-height: 14px;
}

#left .login  ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 30px;
}

#left .login ul li {
	list-style-position: outside;
	list-style-image: url(../images/bullet_arrow.gif);
	font-size: 9px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -10px;
}
#left .leftlinksMargin {
	padding-left: 22px;
}
#left .greyline {
	float: left;
	width: 177px;
	border-top: solid 1px #999999;
	clear: left;
	height: 1px;
	overflow: hidden;
}
.greylineMain {
	height: 1px;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 6px;
	margin-bottom: 6px;
	overflow: hidden; 
}

#left .subLinks {
	clear: left;
	float: left;
	width: 202px;
	font-weight: bold;
}

#left .subLinks ul li {

	cursor: hand;
	overflow:hidden;
	list-style-type: none;
	width: 202px;
	height: 20px;
	background-image: url(../images/left_buttons.gif);
	background-repeat: no-repeat;
	margin-top: 0px;
	display: block;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#left .subLinks img {
	margin-bottom: -10px;
	overflow: visible;
}
	.clearBothRight {
	clear: both;
	float: left;
	text-align: right;
	width: 100%;
}
	.clearBothLeft {
	clear: both;
	float: left;
	padding-left: 2px;
	text-align: left;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 0px;
}
#left .subLinks  a:link, #left .subLinks a:visited, #left .subLinks  a:hover, #left .subLinks a:active {
	color: #000000;
	text-decoration: none;
	display:inline-block;
}

#left .subLinks  li:link, #left .subLinks li:visited {
	cursor: hand;
	overflow:hidden;
	list-style-type: none;
	width: 202px;
	height: 20px;
	background-image: url(../images/left_buttons.gif);
	background-repeat: no-repeat;
	display: block;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#left .subLinks  li:hover, #left .subLinks li:active {
	cursor: hand;

	list-style-type: none;
	width: 202px;
	height: 20px;
	background-image: url(../images/left_buttons_over.gif);
	background-repeat: no-repeat;
	margin-top: 0px;
	display: block;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.calendar {
	background-image: url(../images/calendar.gif);
	background-repeat: no-repeat;
	height: 54px;
	width: 70px;
	font-weight: bold;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	float: left;
	color: #000000;
}

/* End Home Page Left Side Navigation */

#content {
	background-image: url(../images/content_sub2.gif);
	background-repeat: repeat-y;
}


/* Begin Home Page Right Side Content */
img.playbutton {
	background: transparent;

}
.playbutton {
	margin-right: 2px;
	float: left;
	clear: both;
	text-align: left;
}

a.playbutton {
	background-image: url(../images/PLAY.gif);
	}

a.playbutton:hover {
	background-image: url(../images/PLAY_over.gif);
}


#rightHome {
	float: right;
	width: 801px;
}
#subHome {
	background-image: url(../images/subFrame2.gif);
	background-repeat: repeat-y;
}
.blog {
	width: 345px;
	float: left;
	/*font-family: "Times New Roman", Times, serif;
	font-size: 14px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: normal;
	padding-left: 25px;
}
.blogText {
	/*font-family: "Times New Roman", Times, serif;	
	font-size: 14px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: normal;
}
#subHome .blog h1 {
	/*font-family: "Times New Roman", Times, serif;
	font-size: 20px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #7d7d7d;
	font-weight: bold;
	display: block;
	line-height: 21px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#subHome .blog h1 a:link, #subHome .blog h1 a:visited {
	text-decoration: none;
	/*font-family: "Times New Roman", Times, serif;
	font-size: 20px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #7d7d7d;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
#subHome .blog h1 a:hover, #subHome .blog h1 a:active {
	text-decoration: none;
	/*font-family: "Times New Roman", Times, serif;
	font-size: 20px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #CC0000;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
#subHome .blog h2 {
	display: inline;
	color: #cc0101;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.smallText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.smallText a:link, .smallText a:visited {
    color: #000000;
	text-decoration: none;
}
.smallText a:hover, .smallText a:active {
	color: #CC0000;
	text-decoration: underline;
}

#centerBanners {
	float: left;
	background-image: url(../images/bgd_banners.gif);
	background-repeat: repeat-y;
	text-align: center;
	clear: left;
	padding-bottom: 15px;
	margin-left: -8px;
	width: 100%;
}
#centerBanners img {
/*	padding-right: 12px;
	padding-left: 12px;*/
	vertical-align:middle;
}



#poll {
	float: right;
	width: 302px;
	overflow: hidden;
	text-align: center;
	clear: right;
	margin-top: 10px;
}

#poll .pollinteriortop {
	background-image: url(../images/poll_top1.gif);
}


#poll .pollinterior {
	height:auto;
}

#poll .pollbase {
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 5px;
	width:291px;
	background-color: #FFF;
	height: 125px;
}

#bellblog {
	float: right;
	height: auto;
	width: 302px;
	overflow: hidden;
}
#bellblog .bellbloginterior {
	width:302px;
}

#bellblog .bellblogbase {
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 8px;
	width:290px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFF;
	height: 113px;
}

#bellblog img {
	text-align: center;
}
#bellblog h5 {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	color: #7d7d7d;
	font-weight: bold;
	display: inline;
}
#bellblog h5 a:link, #bellblog h5 a:visited {
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	color: #7d7d7d;
}
#bellblog h5 a:hover, #bellblog h5 a:active {
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	color: #CC0000;
}

#videoConsole {
	float: left;
	width: 492px;
	overflow: hidden;
}
#videoConsoleA {
	float: left;
	padding-left: 10px;
	background-image:url(/images/homepage/videomessage.gif);
	background-position: 10px 0px;
	background-repeat: no-repeat;
}

#videoConsole .vidContent {
	height: 100%;
	width: 482px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#videoConsole .left {
	width: 200px;
	float: left;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
}
#videoConsole .left img {
	text-align:center;
	display: block;	
}
.footnote {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

.footnote a:link, .footnote a:visited {
	color: #cc0101;
	text-decoration: none;
}

.footnote a:hover, .footnote a:active {
	color: #cc0101;
	text-decoration: underline;	
}

.redColorText {
	color: #da4545;
}
.greyColorText {
	color: #808080;
}


.imageLeft {
	margin-right: 10px;
	float: left;
	clear: both;
	text-align: left;
}
.imageLeftButtons {
	margin-right: 5px;
	float: left;
	clear: both;
	text-align: left;
	visibility:visible !important;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}

.bannerBottom {
	margin-top: 20px;
	float: left;
	clear: left;
	padding-left: 12px;
}
#footer {
	clear: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px;
	list-style-type: none;
	width: 1003px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#footerSub {
	float: left;
	clear: left;
	width: 1003px;
	margin-left: 15px;
	margin-top: -20px;

}
#footer ul li {
	display: inline;
	list-style-type: none;
	margin-left: 10px;
	text-align: center;
}
#footer img {
	margin-right: 8px;
}
#footer a:link, #footer a:visited  {
	color: #FFFFFF;
	text-decoration: none;

}
#footer a:hover, #footer a:active {
	color: #FFFFFF;
	text-decoration: underline;
}
#footer .small {
	font-size: 10px;
	margin-left:10px;
	line-height: 2px;
	text-align: center;
}

.greyColorText {
	color: #7d7d7d;
}
.textRight{
	float:right;
}
.textCenter{
	text-align:center;
}

.news {
	float: right;
	width: 361px;
	padding-right: 35px;
}

.news ul li {
	font-weight: bold;
	color: #CC0101;
	font-size: 12px;
	list-style-type: disc;
	list-style-position: outside;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	margin-left: -15px;
}


.whiteText {
	float: right;
	font-weight: bold;
	color: #FFFFFF;
}
.whiteText  a:link,.whiteText a:visited  {
	color: #FFFFFF;
	text-decoration: none;
}
.whiteText a:hover,.whiteText a:active  {
	color: #FFFFFF;
	text-decoration: underline;
}


#videoConsole .lefttext {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}

#videoConsole .videolist {
	text-align: left;
	float: right;
	display: block;
	padding-right:10px;
	width: 210px;
	clear: right;
	margin-top: 8px;
	font-size: 10px;
	line-height: 11px;
}
#videoConsole .videolist img {
	float: left;
	padding-right: 10px;
	vertical-align:middle;
}

#videoConsole .videolist a:link, #videoConsole .videolist a:link a:visited  {
	color: #CC0101;
	display:block;
	text-decoration: none;
}

#videoConsole .videolist a:hover,#videoConsole .videolist a:active  {
	display:block;
	height: 48px;
	background:#f0f0f0;
}

#videoConsole .right {
	float: left;
	width: 255px;
	height: 220px;
	overflow:auto;
	scrollbar-3dlight-color: #000000;
	scrollbar-track-color: #c0c0c0;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-face-color: #dedede;
	scrollbar-arrow-color: #000000;
	scrollbar-darkShadow-color: #000000;

}



/* End Home Page Right Side Content */
#content .inner {
	margin-right: 50px;
	margin-left: 50px;
}

#navigation {
	margin-right: auto;
	width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
}

#navigation td  {
	margin: 0px;
	padding: 0px;
}

.navMenu {
	background-color: #CC0101;
	width: 750px;
	float: left;
	color: #FFFFFF;
	text-align: center;
}
 /* Horizontal navigation menu with UL structure */

#horizontalUL {
	font-size: 12px;
	height: 25px;
	
	}

#horizontalUL ul {
	display: inline;
	margin: 0;
	padding: 0;
	line-height:25px;
	}
#horizontalUL li {
	display: inline;
	list-style: none;
		
	}

#horizontalUL li a {
	text-decoration: none;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	}

#horizontalUL a:link, #horizontalUL a:visited {
	color: #FFFFFF;
	}
#horizontalUL a:hover, #horizontalUL a:active {
	color: #CC0000;
	background-color: #FFFFFF;

	}
.menutitlefont a {
	font-size:12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b00101;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b00101;
	background-image: url(../images/grad_bgd.gif);
}
.menutitlefont a:hover {
	font-size:12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b00101;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b00101; 
	background-image: url(../images/grad_bgd_over.gif);
}
.lightColor {
	background-color: #ebf5fb;
}
.lightColorBorder {
	background-color: #4b83b2;
}
.lightColorBorderTop {
 background-color: #EBF5FB;
 border-top: 1px solid #4b83b2;
}
.lightColorBorders {
 background-color: #EBF5FB;
 border: 1px solid #4b83b2;
}
.lightColorBorderBottom {
 background-color: #EBF5FB;
 border-bottom: 1px solid #4b83b2;
}
.lightColorRed {
	background-color: #fbeded;
}
.lightColorBorderRed {
	background-color: #cc0000;
}
.lightColorBorderTopRed {
 background-color: #fbeded;
 border-top: 1px solid #cc0000;
}
.lightColorBorderBottomRed {
 background-color: #fbeded;
 border-bottom: 1px solid #cc0000;
}
.lightColorGreen {
	background-color: #ebf3ea;
}
.lightColorBorderGreen {
	background-color: #3e8e31;
}
.lightColorBorderTopGreen {
 background-color: #ebf3ea;
 border-top: 1px solid #3e8e31;
}
.lightColorBorderBottomGreen {
 background-color: #ebf3ea;
 border-bottom: 1px solid #3e8e31;
}
.lightColorOrange {
	background-color: #fef3e5;
}
.lightColorBorderOrange {
	background-color: #f18900;
}
.lightColorBorderTopOrange {
 background-color: #fef3e5;
 border-top: 1px solid #f18900;
}
.lightColorBorderBottomOrange {
 background-color: #fef3e5;
 border-bottom: 1px solid #f18900;
}
.buttons {
	color: #CC0000;
	background-image: url(/html/images/bgd_submit.gif);
}
.RadioShow {
	background-image: url(/images/radio_on.gif);
	clear: left;
	height: 130px;
	width: 342px;
	background-repeat: no-repeat;
	text-align: center;
}
.newsIcon {
	z-index: 3;
	position: absolute;
	height: 41px;
	width: 48px;
	left: 605px;
	top: 233px;
}
.rollover {
	display: block;
	width:99px;
	height:19px;
}
.rollover a {
	display: block;
	width:99px;
	height:19px;
	background-image:url(/images/but_register.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.rollover a:hover {background-image:url(/images/but_register_over.gif)}
.searchbox {
	text-align: center;
	margin-top: 8px;
}
.searchBox input{
	width: 500px;
	height: 33px;
	font-size: 28px;
	color: #d2d2d2;
	background-image:url(/images/grad_bgd_input.gif) !important;
}

.searchButton {
	padding-left:10px;
}

.searchButton a:link, .searchButton a:link a:visited  {
	background-image:url(/images/but_searchgo.gif);
	width: 42px;
	height: 37px;
	display:block;
}

.searchButton a:hover, .searchButton a:active  {
	background-image:url(/images/but_searchgo_over.gif);
	width: 42px;
	height: 37px;
	display:block;
}
.banner_leaderboard {
	position: relative;
	z-index: 1000;
	top: 0px;
	right: 0px;
}

#flashResizer {
	position:absolute;
	width:728px;
	height:102px;
	z-index: 1000;
	overflow: hidden;
	left: -728px;
	top: 0px;
}


div#centercolumn-frame {
	position:relative;float:left;margin-left:-364px;display:inline;/* IE hack */
	width:728px;
}
div#rightcolumn-liner {
	background-image: url(images/rightsearchBGD.gif);height:32px;
}

div#content-context {
	clear:both;
}

div#leftcolumn-context {
	float:left;width:50%;
}
div#leftcolumn-frame {
	margin-right:364px;
}
div#leftcolumn-liner {
	height:32px;
}
div#rightcolumn-context {
	margin-left:364px;
}
div#rightcolumn-frame { float:left;
	width:100%;
}

div#rightcolumns-context {
	position:relative;margin-left:50%;
}



.errorMessage{
	text-align:center;
	width:960px;
}


/* Google Search */

.s{
	font-weight:normal !important;
}

.g{
/*	border-bottom:#CCC dashed 1px !important;*/

background-image:url(/images/bgd_google.gif) !important;
background-repeat:repeat-x !important;
margin-bottom: 5px !important;
}