@charset "utf-8";
/* CSS Document */

    a.noUnderline {
        text-decoration:none !important;
		cursor:pointer !important;
    }
	 .dropdownPadding1
    {
        text-decoration:none !important;
		cursor:pointer !important;
		padding:5px !important;
		z-index: 1000 !important;
		overflow:visible !important;
		border-bottom: 1px #c10001 solid !important;
		margin:6px 0 0 0px !important;
		width:106px !important;
		
    }
		 .dropdownPadding
    {
        text-decoration:none !important;
		cursor:pointer !important;
		padding:5px !important;
		z-index: 1000 !important;
		overflow:visible !important;
		border-bottom: 1px #c10001 solid !important;
		margin:0 0 0 0px !important;
		width:106px !important;
		
	
    }

.products {
	width: 272px;
	padding-bottom: 20px;
	font-style:normal;
}

.products h2 a:link ,.products h2 a:visited  {
	color: #0571CC;
	text-decoration: none;
	font-size:12px;
}
.products h2 a:hover,.products h2 a:active  {
	color: #0571CC;
	text-decoration: underline;
	font-size:12px;
}

.products  a:link,.products a:visited  {
	color: #000000;
	text-decoration: underline;
}
.products a:hover,.products a:active  {
	color:#333;
	text-decoration: underline;
}

.header-left {
	background-image: url(/website2010/images/newpanel_01.gif);
	height: 30px;
	width: 100%;
	clear: both;

}

.header-left h1 {
	display:inline;
	color: #FFF;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;

}

.titlebar-left {
	background:url('/images/sprites/iconsBorders.png') 0 -71px;
	height: 30px;
	width: 100%;
	clear: both;

}

.titlebar-right {
	background:url('/images/sprites/titlebar-right.png') right;
	height: 30px;
	width: 100%;
	clear: both;

}

.headers {
	background:url('/images/sprites/iconsBorders.png') 0 -71px;
	height: 30px;
	width: 100%;
	clear: both;

}

.headers h1 {
	display:inline;
	color: #FFF;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	
}

.titlebar-right h1 {
	display:inline;
	color: #FFF;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	
}

.articles {
	color: #0066cc;
	font-size:12px;
	font-style:italic;
	margin-top:3px;
	
}

.divider {
	float: left;
	background-image:url(/images/graybar.gif);
	background-repeat: repeat-y;
	height: 600px;
	
}


.articlesList ul  {
display:inline;
margin-top:0px;
margin-left:0px; 
margin-right:0px; 
list-style:none; 
text-indent:0px;
} 

.articlesList li {
	margin-top:0px;
	margin-left: -43px;
	margin-bottom:15px;
	list-style:none; 
} 
