
/* The menu adapter renders an unordered list (ul) in HTML for each tier in the menu. */
/* So, effectively says: style all tiers in the menu this way... */
.ASICentralMenu ul.AspNet-Menu, 
.ASICentralMenu ul.AspNet-Menu ul
{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight:bold;	 
}

/* This rule effectively says: style all tiers EXCEPT THE TOP TIER in the menu this way... */
/* In other words, this rule can be used to style the second and third tiers of the menu without impacting */
/* the topmost tier's appearance. */
.ASICentralMenu ul.AspNet-Menu ul
{
    left: 130px;
    top: 3px;
    background:#cc0101;
    border: 1px solid #CCC;
}

/* The menu adapter generates a list item (li) in HTML for each menu item. */
/* Use this rule create the common appearance of each menu item. */
.ASICentralMenu ul.AspNet-Menu li
{
    margin:0 2px 2px 0;
    text-transform:uppercase;
}

/* Within each menu item is a link or a span, depending on whether or not the MenuItem has defined it's */
/* NavigateUrl property. By setting a transparent background image here you can effectively layer two images */
/* in each menu item.  One comes from the CSS rule (above) governing the li tag that each menu item has. */
/* The second image comes from this rule (below). */
.ASICentralMenu ul.AspNet-Menu li a,
.ASICentralMenu ul.AspNet-Menu li span
{
    cursor: pointer;
	background-color: #CC0101;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.75em;	
	/*background-image: url(../images/DownWhite.gif);
	background-repeat: no-repeat;
	background-position: 97% 50%;*/
}

/* When a menu item contains no submenu items it is marked as a "leaf" and can be styled specially by this rule. */
.ASICentralMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a,
.ASICentralMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span
{
   background-image: none;    
}

.ASICentralMenu ul.AspNet-Menu .AspNet-Menu-Leaf-Selected
{
	color:#cc0101;
    background-color:white; 
}

/* Not used presently.  This is here if you modify the menu adapter so it renders img tags, too. */
.ASICentralMenu ul.AspNet-Menu li a img
{
    border-style: none;
    vertical-align: middle;
}

/* When you hover over a menu item, this rule comes into play. */
/* Browsers that do not support the CSS hover pseudo-class, use JavaScript to dynamically change the */
/* menu item's li tag so it has the AspNet-Menu-Hover class when the cursor is over that li tag. */
/* See MenuAdapter.js (in the JavaScript folder). */
.ASICentralMenu ul.AspNet-Menu li:hover, 
.ASICentralMenu ul.AspNet-Menu li.AspNet-Menu-Hover
{

}

/* While you hover over a list item (li) you are also hovering over a link or span because */
/* the link or span covers the interior of the li.  So you can set some hover-related styles */
/* in the rule (above) for the li but set other hover-related styles in this (below) rule. */
.ASICentralMenu ul.AspNet-Menu li a:hover,
.ASICentralMenu ul.AspNet-Menu li span.Asp-Menu-Hover,
.ASICentralMenu ul.AspNet-Menu li.AspNet-Menu-Selected
{    
    color:#cc0101;
    background-color:white;    
    /*background-image: url(../images/DownRed.gif);
	background-repeat: no-repeat;
	background-position: 97% 50%;*/
}

.ASICentralMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover
{
	background-image:none;    
}

/* -------------------------------------------------------------------------- */
/* When the Menu control's Orientation property is Horizontal the adapter wraps the menu with DIV */
/* whose class is AspNet-Menu-Horizontal. */
/* Note that the example menu in this web site uses absolute positioning to force the menu to occupy */
/* a specific place in the web page.  Your web site will likely use a different technique to position your */
/* menu.  So feel free to change all the properties found in this CSS rule if you clone this style sheet. */
/* There is nothing, per se, that is magical about these particular property value choices.  They happen to */
/* work well for the sample page used to demonstrate an adapted menu. */

.ASICentralMenu .AspNet-Menu-Horizontal
{
    padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;	  
}

/* This rule controls the width of the top tier of the horizontal menu. */
/* BE SURE TO MAKE THIS WIDE ENOUGH to accomodate all of the top tier menu items that are lined */
/* up from left to right. In other words, this width needs to be the width of the individual */
/* top tier menu items multiplied by the number of items. */
.ASICentralMenu .AspNet-Menu-Horizontal ul.AspNet-Menu
{
    width: 850px;    
}


/* This rule effectively says: style all tiers EXCEPT THE TOP TIER in the menu this way... */
/* In other words, this rule can be used to style the second and third tiers of the menu without impacting */
/* the topmost tier's appearance. */
/* Remember that only the topmost tier of the menu is horizontal.  The second and third tiers are vertical. */
/* So, they need a much smaller width than the top tier.  Effectively, the width specified here is simply */
/* the width of a single menu item in the second and their tiers. */
.ASICentralMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul
{
    left: 0px;
    top: 27px;    
    margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 150px;
	position: absolute;
	white-space:normal;
}

/* Generally, you use this rule to set style properties that pertain to all menu items. */
/* One exception is the width set here.  We will override this width with a more specific rule (below) */
/* That sets the width for all menu items from the second tier downward in the menu. */
.ASICentralMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li, ul.AspNet-Menu li a:hover
{
    margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: auto;
	float: left;
	font-weight: bold;
	/*background-image: url(../images/RightWhite.gif);
	background-repeat: no-repeat;
	background-position: 97% 50%;	*/
}


/* This rule can be used to set styles for the menu items in the second tier (and lower) in the menu. */
.ASICentralMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li li
{	
    text-align:left;
    background-color: #FFFFFF;
	color: #CC0101;
	font-size:10px;
	text-transform:none;	
	margin-right:50px;		 
}

/* This rule establishes the width of menu items below the top tier.  This allows the top tier menu items */
/* to be narrower, for example, than the sub-menu items. */
/* This value you set here should be slightly larger than the left margin value in the next rule. See */
/* its comment for more details. */
.ASICentralMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li
{
    width:150px; 
}

/* Third tier menus have to be positioned differently than second (or top) tier menu items because */
/* they drop to the side, not below, their parent menu item. This is done by setting the last margin */
/* value (which is equal to margin-left) to a value that is slightly smaller than the WIDTH of the */
/* menu item. So, if you modify the rule above, then you should modify this (below) rule, too. */
.ASICentralMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul
{
    margin: -27px 0 0 150px;
}


