.rightRailHeader 
{
	font-size:15px;
	font-weight:bold;
}
.activeDayTab
{
	background-image: url(/images/education/tab.gif);
	line-height:35px;
	text-align:center;
}
a.activeDayTab:link 
{
	color: #4b4b4b;
	text-decoration: underline;
	font-weight:bold;
}
.inactiveDayTab 
{
	background-image:none;
}
a.inactiveDayTab:link, a.inactiveDayTab:visited 
{	
	text-decoration:none;
	color: White;
}
.imageVertCenter 
{	
	vertical-align: middle;
	width: 16px;
	height: 16px;
	border: none;
	border-width: 0px;
}
.InstructorHeader
{
	background-color:#b00055;
}
.ticketed 
{
	color:Red;
}
.roomNo 
{
	background-color:Gray;
	border:solid 1px Gray;
	color:White;	
}
.trackFlag 
{
	font-size:7pt;
	color:White;
	margin-left:-3px;
	margin-right:-3px;	
}
.a.registerLnk:link
{
	color:#b9b9b8;
	font-weight:bold;		
	float:left;
}
a.instLnk:link, a.instLnk:visited
{
	color:Black;
}
.grdSchedule th {
	font-size: 7pt;
	z-index: 100;
	/*border-right:solid 1px #b9b9b8;*/
	border-collapse: collapse;
	padding:3px 3px 3px 3px;
	vertical-align:top;
	font-family:Arial;
	/*color:White;*/
}
.grdSchedule table {
	font-family: Arial;
	border-collapse: collapse;
	border: solid 1px black;
}
.a.courseLink:link {
	text-decoration: none;
	font-weight:bold;
}
.grdSchedule td {
	font-size: 7pt;
	font-weight:bold;
	border-collapse: collapse;
	vertical-align: top;
	z-index: 250;
	padding:3px 3px 3px 3px;
	font-family:Arial;
}
.pager a:active {
	text-decoration: underline;
}
.WhiteLink {
	color: White;
	text-decoration: underline;
}
.WhiteText {
	color: White;
}
.track 
{
	font-size:7pt;
}
.trackKey {
	font: smaller Trebuchet MS;
}
.TimeHeader {position: relative !important;
	/*background-color:#940000;	*/
	background-color:#e7e7e7;
	border-collapse: collapse;
	/*border: black 1px solid;*/
}
.Time {
	position: relative;
	border-collapse: collapse;
	/*background-color: #ab1e1e;*/
	background-color:#e7e7e7;
}
.asiShow_Default .New_Distributors .rsAptWrap {
	background: #d2d2cf;
}
.NewDistributorsHeader, .DistributorSuccessSponsor58FieldsMfg46Header {
	/*background: #b9b9b8;*/
	/*background: #00a852;*/
	background: #00a651;
	color:White;
}
.SalesHeader, .SalesMarketingHeader {
	/*background: #ebabaf;*/
	background: #0065b3;
	color:White;
}
.SocialMediaMarketingHeader {
	background: #fcb760;
	color:Black;
}
.MarketingSponsor58FieldsMfg46Header 
{
	background: #44c7f5;
	color:White;
}
.ASIWomensSummitHeader 
{
	background: #210742;
	color:White;
}
.SupplierClinicsHeader {
	/*background: #adbde7;*/
	background: #ffdd2f;
	color:Black;
}
.InternetMarketingHeader {
	/*background: #b9d4e2;*/
	background: #3fc8f4;
	color:White;
}
.BusinessManagementHeader, .Business-BuildingStrategiesHeader, .PowerSalesSummitHeader {
	/*background: #89c6c7;*/
	background: #702c91;
	color:White;
}
.InvitationOnlyHeader 
{
	background:#b10055;
	color:White;
}
.HotNicheMarketsHeader {
	/*background: #b1cca2;*/
	background: #ef59a1;
	color:White;
}
.TechnologyTrainingHeader, .Hands-onTechnologyHeader {
	/*background: #cac97e;*/
	background: #bfd630;
	color:Black;
}
.SupplierMarketingHeader {
	background: #f2eb8f;
	color:White;
}
.BodekandRhodesWearablesUniversityHeader {
	/*background: #e4b283;*/
	background: #f68b1f;
	color:White;
}
.ASIProductTrainingHeader {
	/*background: #eba69b;*/
	background: #e51a38;
	color:White;
}
.FactoryTourHeader {
	background: #00a4b1;
	color:White;
}
.paidSessionHeader {
	background: #0074bc;
	color:White;
}
.GeneralEducationHeader {
	background: #97add9;
	color:White;
}
.ExecutivePowerProgramHeader {
	background: #B00055;
	color:White;
}
.SpeedNetworkingHeader {
	background: #97add9;
	color:White;
}
.Million-DollarSalesSponsor58FieldsMfg46Header 
{
	background: #b10055;
	color:White;
}
.Half-DayHeader, .FullDayHeader {
	/*background: #b9b9b8;*/
	background: #b00055;
	color:White;
}
.pnlCoursePopUp {
	padding: 4px;
	font: small Trebuchet MS;
}
.pnlCoursePopUp TABLE {
	width: 300px;
	font: 9pt Trebuchet MS;
}
.pnlCoursePopUp TABLE th {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11pt;
	padding: 4px 8px;
	text-align: left;
}
.pnlCoursePopUp TABLE td {
	width: 100%;
	padding: 4px 8px;
}
#gvPressIndex {
	vertical-align: top;
	border: none;
	font: smaller Trebuchet MS;
}
#magazineMenu {
	color: #808080;
}
p.featureHeading 
{
	font-weight:bold;
	font-size:17px;
	margin-bottom:6px;        	
}
p.subStoryHeading 
{
	font-weight:bold;
	font-size:13px;
	margin-bottom:6px;        	
}
p.featureSummary 
{
	font-size:12px;
	margin-top:4px;
}
p.subStorySummary 
{
	font-size:11px;
	margin-top:4px;
}