@charset "utf-8";

/*------------------General---------------*/


body {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size:12px;
	margin: 0px;
	padding: 0px;
	background-image: url(/website2010/images/bgd17.gif);
	background-color: #F1F1F1;
	background-repeat: repeat-x;
	color:#2C2C2C;
}
h1, h2, h3, h4, h5 {
	display:inline;
}

.whiteText {
	float: right;
	color: #FFFFFF;
}
.whiteText  a:link,.whiteText a:visited  {
	color: #FFFFFF;
	text-decoration: none;
}
.whiteText a:hover,.whiteText a:active  {
	color: #FFFFFF;
	text-decoration: underline;
}


.PDFListLinks {
	clear: left;
	float: left;
	width: 250px;
	font-weight: bold;
}

.PDFListLinks ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	margin-left: -20px;
	display: block;
	width: 250px;
	height: 33px;
	overflow:hidden;
	padding-left: 20px;
}
.PDFListLinks img {
	overflow: visible;
	margin-bottom: -10px;
}

.PDFListLinks  a:link, .PDFListLinks a:visited {
	color: #cc0000;
	text-decoration: none;
	width: 250px;
	height: 50px;
	background-image: url(/images/icons/pdfsm.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.PDFListLinks  a:hover,  .PDFListLinks a:active {
	color: #999;
	text-decoration: none;
	width: 250px;
	height: 50px;
	background-image: url(/images/icons/pdfsm.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}


h1 {
	font-size:22px !important;
	display:inline;
	color: #0571CC;
}
.mainContent h1 {
	font-size: 16px;
}
h2 {
	font-size:15px !important;
}
.main_blog_imageLeft {
	margin-right: 2px;
	float: left;
	clear: both;
	text-align: left;
	margin-left: -4px;
}

div {
	margin: 0px; 	
	padding: 0px;
	
}

img {
	border: 0px none; margin:0; padding:0;
}


a,a:ACTIVE {color: #0571CC; text-decoration:none}
a:HOVER {color: #007ee8; text-decoration:underline}
a:VISITED  {color: #0571CC;}
/*       ---------------------------------  */

.tab a:link, .tab a:visited { 
	color:#0571CC;
}
.tab a:active, .tab a:hover { 
	color:#FFF;
}
.whiteLinks a:link, .whiteLinks a:visited  { 
	color:#FFF;
	text-decoration:none;
}
.whiteLinks a:active, .whiteLinks a:hover { 
	color:#FFF;
	text-decoration:underline;
}

.blueLinks  a:link,.blueLinks a:visited  {
	color: #80ccff;
	text-decoration: underline;
}
.blueLinks a:hover,.blueLinks a:active  {
	color: #FFFF00;
	text-decoration: underline;
}


.crumbs{
	font-size:12px;
	color:#9b9b9b;
	font-weight: bold;
	height: 10px;
	margin-top: 3px;
	margin-left: 8px;
	margin-bottom: 13px;
}
.crumbs a:link, .crumbs a:visited  { 
	text-decoration:none;
}
.crumbs a:active, .crumbs a:hover { 
	text-decoration:underline;
}
.redColorText {
	color: #CC0101;
}

.redColorText a:link, .redColorText a:visited  { 
	color: #CC0101;
	text-decoration:none;
}
.redColorText a:active, .redColorText a:hover { 
	color: #CC0101;
	text-decoration:underline;
}
.whiteText  { 
	color:#FFF;
}
.verticalAlign {
	vertical-align:middle;
	height:50%;
	top:22%;
	display:block;
	position:relative;
}

/*------------------MENU---------------*/

.menu {
	float: left;
	height:35px;
	position: relative;
	z-index:1;
	background-repeat: repeat-x;
}

.menu li { float: left; text-align: center; border-right: 1px solid #717172; height:35px; }
.menu li.end { border-right: none;}

.menu li:hover {
	background:url(/website2010/images/menubg_h.png) repeat-x;
	color: #FFF;
}

.menu li a {
	color:#FFF;
	font-weight: bold;
	text-decoration: none;
	display:block;
	height:25px;
	float: left;
	padding:10px 8px 0
}
.menu li a:hover {  background: url(/website2010/images/menubg_h.png) repeat-x; color:#FFF;}
.menu li ul {
	background: url(/website2010/images/menubg_h2.png) repeat-x;
	width: 960px;
	height:40px;
	position:absolute;
	top:35px;
	left:0;
	z-index:100;
	float:left;
	display: none;
	list-style: none;
	margin: 0px; 	
	padding: 0px;
}
ul.menu {	
	list-style: none;	
	margin: 0px; 	
	padding: 0px;
	background:url(/website2010/images/bgd_mainnav.gif) repeat-x;
	font-size:11px;
	}
.menu li:hover ul, .menu li.hover ul { display: block}
.menu li.active ul{ display: block;}
.menu li.active a {  background: url(/website2010/images/menubg_h.png) repeat-x; color:#FFF;}
.menu li.active ul li a {  background: none;}


.menu li ul li { border-right: none; height:30px; line-height:30px; padding:0px}
.menu li ul li:hover { background:none}

.menu li ul li a { font-family:Tahoma, Geneva, sans-serif; border-right: 1px solid #950001; font-weight:normal; height:30px; display: inline; padding:0 9px}
.menu li ul li a.end { border-right: none}
.menu li ul li a:hover { text-decoration: none; background-image:url(/website2010/images/bgdnavhover.gif)}
.menu li ul li.active { text-decoration: none; background-image:url(/website2010/images/bgdnavhover.gif)}

/* END MENU */


.wrapper {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	overflow: hidden;
}
.shadowLeft {
	background-image: url(/website2010/images/leftangle_shad.gif);
	height: 172px;
	width: 40px;
	position: absolute;
	margin-left: -40px;
}
.brands {
	margin-right: 15px;
	margin-top: 5px;
	color:#CCC;
	font-size:11px;
	font-weight:bold;
}

.shadowRight {
	background-image: url(/website2010/images/rightangle_shad.gif);
	height: 172px;
	width: 40px;
	position: absolute;
	margin-left: 960px;
}

.top {
	background:url('/images/sprites/iconsBorders.png') 0 -272px;
	height: 107px;
	width: 646px;
	float: left;
	overflow:hidden;
}

.floatright {
	float: right;
}


.floatleft {
	float: left;
}
.loginRight {
	float: right;
	height: 16px;
	background: url('/images/sprites/iconsBorders.png') -163px 0px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.loginLeft {
	float: right;
	height: 26px;
}
.searchArea {
	float: right;
	height: 34px;
	width: 320px;
	clear: right;
	margin-top: 20px;
	margin-right: 12px;
	background:url('/images/sprites/iconsBorders.png') -301px 0;
	background-repeat: no-repeat;
}
.searchField {
	float: left;
	width: 284px;
}
.searchField input {
	border:none;
	background:none;
	font-weight: bold;
	width: 260px;
	color: #999;
	margin: 10px;
	
}

.searchButton {
	float: right;
	background:url('/images/sprites/iconsBorders.png') -585px 0;
	width: 36px;
	height: 34px;
}
.searchButton a:link, .searchButton a:link, .searchButton a:visited  {
	background:url('/images/sprites/iconsBorders.png') -585px 0;
	width: 36px;
	height: 29px;
	display:block;
}

.searchButton a:hover, .searchButton a:active  {
	background:url('/images/sprites/iconsBorders.png') -621px 0;
	width: 36px;
	height: 34px;
	display:block;
}
.main {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	overflow: hidden;
	position:relative;
	
}
.headers {
	background:url('/images/sprites/iconsBorders.png') 0 -71px;
	height: 30px;
	width: 100%;
	clear: both;

}

.headers h1 {
	display:inline;
	color: #FFF;
	font-size:15px;
	font-weight:bold;
	margin-left:10px;

}
.headersColors {
	background:url('/images/sprites/edu_sprite.png');
	height: 30px;
	width: 606px;
	clear: both;

}
.headersColors h1 {
	display:inline;
	color: #FFF;
	font-size:15px;
	font-weight:bold;
	margin-left:10px;

}s
.headersRed {
	background-image: url(/website2010/images/newpanel_01red.gif);
	height: 30px;
	width: 100%;
	clear: both;

}
img.loginLeft{
	width:29px;
	height:26px;
	background:url('/images/sprites/iconsBorders.png') -128px 0;
	border:none;
}
.searchButton a:hover, .searchButton a:active  {
	background:url('/images/sprites/iconsBorders.png') -607px 0;
	width: 36px;
	height: 34px;
	display:block;
}
.headersRed h1 {
	display:inline;
	color: #FFF;
	font-size:15px;
	font-weight:bold;
	margin-left:10px;

}
.headersMrgn {
	margin: 6px 0 0 0;

}
.mainContent {
	clear: both;
	margin-top: 0px;
	margin-right: 32px;
	margin-bottom: 34px;
	margin-left: 40px;
	overflow: hidden;
	padding-top: 8px;
}
.mainConsole {
	float: left;
	width: 611px;
	overflow: hidden;
}

.adTop {
	height: 400px;
	width: 240px;
	margin-left: 27px;
	float: right;
	margin-right: 8px;
	clear: right;
}
.adLeft {
	height: 620px;
	width: 160px;
	margin-right: 9px;
	float: left;
	overflow: hidden;
	margin-top:25px;
}
.adLeft2 {
	height: 620px;
	width: 160px;
	margin-right: 9px;
	float: left;
	overflow: hidden;
	margin-top:0px;
	display: block;
}
.sponsoredBy {
	font-style: italic;
	font-weight: bold;
	color: #9b9b9b;
	height: 20px;
	margin-top: -19px;
	position: absolute;
	width:300px;
}
.sponsoredBy2 {
	font-style: italic;
	font-weight: bold;
	color: #9b9b9b;
	height: 20px;
	margin-top: 0px;
	position: relative;
}
.mainConsoleContent {
	background-image: url(/website2010/images/newpanel03.gif);
	overflow: hidden;
}
.mainConsoleNav {
	font-weight: bold;
	color: #FFF;
	margin-right: 0px;
	font-size: 18px;
	overflow: hidden;
	margin-top: 3px;
	white-space: nowrap;
	width: 85px;
}
.greenText {
	color: #0C0;
}
.blog {
	float: left;
	width: 369px;
	margin-top: 5px;
	overflow: hidden;
	background-image: url(/website2010/images/width369.gif);
	clear: left;
}
.blogbase{
	background-image:url(/website2010/images/blogbase.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}
.main_blog h3 {
	display: inline;
	font-size:14px;
}
.main_blog h1 {
	display: inline;
	font-size:16px;
}
.divTim{
	background-image:url(/website2010/images/butTab01.gif);
	height:10px;
	width:20px;
	padding:10px 10px 10px 15px;
}
.divMichele{
	background-image:url(/website2010/images/butTab02.gif);
	height:10px;
	width:43px;
	padding:10px 10px 10px 10px;
}
.divASIcentral{
	background-image:url(/website2010/images/butTab03.gif);
	height:10px;
	width:69px;
	padding:10px 10px 10px 10px;
}

.smallFont {
	font-size: 11px;
}

.news {
	float: left;
	width: 496px;
	margin-top: 25px;
	margin-left: 9px;
}
.grayborders {
	border:solid #b7b7b7 1px;
	padding:11px;
	overflow: hidden;
	clear: both;
}
.grayBorder_left {
	border-left: 1px solid #b7b7b7;
}
.grayBorder_right {
	border-right: 1px solid #b7b7b7;
}


.newsItems {
	width: 136px;
	text-align: center;
	height: 120px;
	float: left;
	padding-right: 0px;
	padding-left: 13px;
	font-size: 11px;
}
.newsItems img {
	border:#666 solid 1px;
}
.moreNews {
	height: 100px;
}
.redAngleHeader {
	overflow: hidden;
	clear: both;
	white-space:nowrap;
	color:#FFF;
}
.redAngleHeader h1 {
	display:inline-block;
	color: #FFF;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	margin-top:0px;
}

.redAngle {
	background:url('/images/sprites/iconsBorders.png') -23px -44px;
	float: left;
	padding: 3px 18px 3px 15px;
	height: 16px;
	
}
.redAngle a {
	white-space:nowrap;
}
.redAngleTall {
	background:url('/images/sprites/iconsBorders.png') -259px -38px;
	float: left;
	padding: 7px 5px 3px 5px;
	height: 20px;
}
.redAngleTall a {
	white-space:nowrap;
}


.moreNewsBase {
	background-image: url(/website2010/images/newspanel04.gif);
	clear: both;
	float: left;
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.columnGrayBorderRight {
	width:183px;
	float:left;
	margin-right:10px;
	padding-right: 5px;
	padding-left: 5px;
}

.columnGrayBorderRight ul {
	margin:-10px 3px 0px 7px;
	padding:0px;
	font-size:11px;
}
.columnGrayBorderRight li {
	margin-bottom:3px;
	margin-left:0px;
	color:#0571CC;

}

ul.moreNewsBaseList {
	margin:0px 0px 0px 12px;
	padding:6px;
}
.centerBanners {
	width:728px;
	clear:both;
	float:left;
	margin-left:75px;
}

.centerBanners img {
	vertical-align:middle;
}
.centerBanners2 {
	width:890px;
	clear:both;
	float:left;
	margin-top:20px;
}

.centerBanners2 img {
	padding-right: 100px;
	padding-left: 40px;
	vertical-align:middle;
}
.centerBanners2x {
	width:890px;
	clear:both;
	float:left;
	margin-top:20px;
}

.centerBanners2x img {
	padding-right: 10px;
	padding-left: 8px;
	vertical-align:middle;
}
.centerBanners1x {
	clear:both;
	float:left;
	margin-top:20px;
}

.centerBanners1x img {
	padding-right: 10px;
	padding-left: 70px;
	vertical-align:middle;
}
.centerBanners3 {
	width:890px;
	clear:both;
	float:left;
	margin-top:20px;
}

.centerBanners3 img {
	padding-right: 30px;
	padding-left: 30px;
	vertical-align:middle;
}

.videos {
	width: 369px;
	margin-top: 25px;
	overflow: hidden;
	float: left;
	background-image: url(/website2010/images/width369.gif);
}
.smallBox {
	width: 242px;
	margin-left: 10px;
	float: left;
	margin-top: 25px;
	clear: left;
}
.twitterWidget {
	margin-top: -20px;
	height:364px;
}

.LGsocialIcons {
	float:left;
	margin:7px;
	text-align:center;
}
.forum {
	clear: both;
	float: left;
	width: 870px;
	margin-top: 25px;
}
.lightBlueBGD {
	background-color: #e7f2fa;
	border-bottom: 1px solid #88c6f4;
	padding-top: 7px;
	padding-bottom: 7px;
}
.paddingTopBottom {
	padding-top: 7px;
	padding-bottom: 7px;
}
.mediumFont {
	font-size: 18px;
}
.redBase {
	background-image: url(/website2010/images/red_base.gif);
	height: 9px;
}
.footerNav {
	clear: both;
	float: left;
	width: 960px;
	text-align: left;
}
.footerNav ul {
	margin-top:15px;
}
.footerNav ul li {
	display: inline;
	list-style-type: none;
	margin-left: 10px;
	text-align: center;
	border-right: 1px solid #999;
	padding-right: 15px;
	font-weight:bold;

	
}
.footerNav ul li.end {
	border-right: 0px solid #999;
}

.copyright {
	text-align: center;
	clear: both;
	margin-top: 20px;
}
.footer {
	font-size: 11px;
	color: #777;
	overflow: hidden;
	clear: both;
	float: left;
	margin-bottom: 25px;
	width: 100%;
}
.footer h1 {
	font-size: 12px;
	font-weight:bold;
	display:inline;
	color: #777;
}

.photos 
        {
	        float: left;
	        height: 121px;
	        width: 272px;
        }
.photos img{
	    float:left;
	    padding-right: 5px;
	    padding-top: 2px;
    }
.photos h1{
	    font-size:13px;
    }

.subconsole {
	clear: both;
	float: left;
	width: 100%;
}
.icon_title {
	height: 60px;
	font-size:22px;
	font-weight:bold;
	width: 140px;
	margin-left: 3px;
	
}
.icon_title img {
	vertical-align: middle;
	margin-right:5px;
}
.v3col {
	background-image: url(/website2010/images/v3col.gif);
	background-repeat: repeat-y;
}
.mediumBox {
	width: 439px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	clear: left;
}
.largeBox {
	width: 600px;
	float: left;
	clear:left;
	margin-top: 25px;
}
.eduCalendar {
	float:left;
	clear:both;
}
.eduCalendar img {
	margin-right:30px;
	float:left;
}
.eduCalendar h1 {
	font-size:22px;
	display:inline;
	color: #0571CC;
}
.eduCalendar ul {
	margin:0px 3px 0px 0px;
	padding:0px;
	font-size:11px;

}
.eduCalendar li {
	margin-left:0px;
	color:#0571CC;
		margin-left:10px;

}.eduCalendarBase {
	width: 100%;
	overflow: auto;
	height:173px;
	clear: both;
}
.eduCalendar_top {
	background-color: #0065b3;
	height: 33px;
	color:#FFF;
	line-height:33px;
	background-repeat: no-repeat;
	background-position: 3px 6px;
	clear: both;
}
.eduCalendar_top ul {
	margin-left:-40px;	padding-top:5px;margin-top:0px;
}
.eduCalendar_top ul li {

	display: inline;
	list-style-type: none;
	margin-left: 10px;
	text-align: center;
	padding-right: 15px;
	font-weight:bold;
	width:112px;
	font-size:11px;


	
}
.iconHeader {
	border-bottom: 1px solid #b7b7b7;
	margin-left:10px;
	width: 600px;
	clear: left;
	padding-top: 40px;
}
.iconHeader img {

	margin-top: -19px;
	position: absolute;
}
.iconHeader h1 {
	background-color:#FFF;
	margin-top: -14px;
	margin-left:45px;
	padding-left:10px;
	width:90px;
	position: absolute;
}
.bottomItemSales {
	background-image: url(/website2010/images/biggestdeal.jpg);
	background-repeat: no-repeat;
	height: 168px;
	width: 600px;
	float: right;
	background-position: right;
}
.eduCalendarOther {
	background-color: #E9E9E9;
	height: 50px;
	text-align: right;
	line-height: 50px;
	padding-right: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
}
.eduCalendar01 {
	float: left;
	width: 111px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	height: 121px;
	font-size: 11px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	white-space: normal;
}
.Contentlist {


}
.Contentlist ul {
	margin:0px 0px 0px 20px;
	padding:0px;
	
}
.Contentlist li {
	margin:0px 0px 20px 0px;
	padding:0px;
	
}
/*------------------magconent---------------*/

.magcontblue {
	color: #12457a;
}
.magcontgreen {
	color: #1c8590;
}
.magcontred {
	color: #e31937;
}
.magcontext {
	font-size: 10px;
}
.magcontextital {
	font-size: 10px;
	font-style: italic;
}
.magcontextitallg {
	font-size: 11px;
	font-style: italic;
}
.magcontextitalsm {
	font-size: 9px;
}
.magcontextblue {
	font-size: 10px;
	color: #12457a;
}
.magcontextgreen {
	font-size: 10px;
	color: #1c8590;
}
.magcontextred {
	font-size: 10px;
	color: #e31937;
}
.magcontextbluelg {
	font-size: 11px;
	color: #12457a;
}
.magcontextgreenlg {
	font-size: 11px;
	color: #1c8590;
}
.mag_greyborder {
	width: 100%;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 4px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7D7C8A;
	border-right-color: #7D7C8A;
	border-bottom-color: #7D7C8A;
	border-left-color: #7D7C8A;
}
.magbluetitle {
	background-color: #3773a8;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.maggreentitle {
	background-color: #1c8590;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.magredtitle {
	background-color: #e31937;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.magcoltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.magtitlewhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;	
	text-align: center;
}
.subheadsmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.padding {
	padding: 10px;
}

/*------------------asistore---------------*/

.subcontentBlack {
	float: left;
	width: 981px;
	background-image: url(../images/sub_06_2_960_bl_2.gif);
	background-repeat: repeat-y;
	clear: left;
}	
.subcontentBlack h1 {
	font-size: 16px;
	display:inline;
}
#subleft li  {
	margin: 0px;
	padding: 0px;
}

#subleft ul  {
	margin: 0px;
	padding: 0px;
}


#subleft {
	float: left;
	padding-top: 4px;
	width: 170px;
	color: #FFFFFF;
	overflow:hidden;
}
#subleft h1{
	padding-left: 10px;
	line-height: 28px;
}
#subleft .subLinks {
	clear: left;
	float: left;
	width: 191px;
	font-weight: bold;
}

#subleft .subLinks ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	margin: 0px;
	display: block;
	height: 29px;
	overflow:hidden;
	padding-left: 10px;
}
#subleft .subLinks img {
	margin-bottom: -10px;
	overflow: visible;
}

#subleft .subLinks  a:link, #subleft .subLinks a:visited {
	color: #FFFFFF;
	text-decoration: none;
	width: 191px;
	height: 29px;
	background-image: url(/images/but_sublink1.gif);
	background-repeat: no-repeat;
	margin-left: -30px;
	margin-top: 0px;
	display: block;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#subleft .subLinks  a:hover, #subleft .subLinks a:active {
	color: #FFFFFF;
	text-decoration: none;
	width: 191px;
	height: 29px;
	background-image: url(/images/but_sublink1over.gif);
	background-repeat: no-repeat;
	margin-left: -30px;
	margin-top: 0px;
	display: block;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.cartlinks {
	font-size:14px;
	color: #efad3a;

}
.cartlinks a:link, .cartlinks a:visited  {
	color: #efad3a;
	text-decoration: none;

}
.cartlinks a:hover, .cartlinks a:active  {
	color: #ffffff;
	text-decoration: underline;
}
.cartRedHeaders {
	background-color: #CC0101;
	height: 31px;
	width: 178px;
	font-size:18px;
	font-weight:bolder;
	color:#FFFFFF;
	line-height: 30px;
	text-indent: 15px;
}
.cartRedHeaders2 {
	background-color: #CC0101;
	height: 31px;
	width: 178px;
	font-size:14px;
	font-weight:bolder;
	color:#FFFFFF;
	line-height: 30px;
	text-indent: 15px;
}
.cartlinksRed {
	font-size:16px;
	color: #cc0101;
}
.cartlinksRed a:link, .cartlinksRed a:visited  {
	text-decoration: none;

}
.cartlinksRed a:hover, .cartlinksRed a:active  {
	text-decoration: underline;
}
.mainTopConsole {
	float: right;
	height: 107px;
	width: 314px;
}
.mainNewsItem {
	float: left;
	overflow: hidden;
	width: 286px;
	text-align: center;
}
.mainNewsItem img {
	border:#666 solid 1px;
}
.redHR {
	border-top: solid 1px #fc0001;
	height:0px;
}
.greyHR {
	border-bottom: 1px solid #b7b7b7;
	height:0px;
}
.redBaseMain {
	background-image: url(/website2010/images/newspanel04.gif);
	overflow: hidden;
}
.social {
	float: left;
	width: 234px;
	margin-top: 5px;
	margin-left:8px;
	background-image: url(/website2010/images/width234.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 294px;
}
.divTwitter{
	background-image:url(/website2010/images/butTab04.gif);
	height:10px;
	width:47px;
	padding:10px 10px 10px 28px;
}

.divFacebook{
	background-image:url(/website2010/images/butTab05.gif);
	height:10px;
	width:62px;
	padding:10px;
}
.socialContent {
}
.width247 {
	float: right;
	margin-top: 27px;
	margin-left: 27px;
	background-image: url(/website2010/images/width247.gif);
	width: 246px;
	margin-right: 2px;
	clear: right;
}
.width502 {
	float: left;
	margin-top: 25px;
	margin-left: 8px;
	background-image: url(/website2010/images/width508.gif);
	width: 508px;
	margin-right: 1px;
}
.forumfooter {
	background-image: url(/website2010/images/forumfooter03.gif);
	overflow: hidden;
}

.banner_topRight {
	position: relative;
	z-index: 1000;
	top: 0px;
	left: 0px;
}

#flashResizer {
	position:absolute;
	width:240px;
	height:400px;
	z-index:2;
	overflow: hidden;
	left: 0px;
	top: 1px;
}
.bannerpos {
	margin-left:-660px;
	float:right;
	text-align:right;
	width: 900px;
}

.stickynote {
	background-image: url(/images/stickey.gif);
	background-repeat: no-repeat;
	height: 165px;
	width: 175px;
	float: left;
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	color: #333333;
	margin-left: 3px;
}
.stickynote h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	color: #0087c6;
	font-weight: bold;
	display: inline;
}
.stickynotewide {
	background-image: url(/images/widesticky.gif);
	background-repeat: no-repeat;
	height: 142px;
	width: 285px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	color: #333333;
	padding-top: 20px;
}
.stickynotewide  h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	color: #0087c6;
	font-weight: bold;
	display: inline;
}
.lightColor {
	background-color: #ebf5fb;
}
.lightColorBorder {
	background-color: #4B83B2;
	
}
.lightColorBorderTop {
 background-color: #EBF5FB;
 border-top: 1px solid #4b83b2;
}
.lightColorBorders {
 background-color: #EBF5FB;
 border: 1px solid #4b83b2;
}
.lightColorBorderBottom {
 background-color: #EBF5FB;
 border-bottom: 1px solid #4b83b2;
}
.subcontent_imgLeft {
	margin-right: 10px;
	float: left;
	text-align: left;
	margin-top: 2px;
}
.subcontent h1 {
	font-size: 16px;
	display:inline;
}
.subcontent_more a {
	font-weight: bold;
	color: #DF4917;
}
.subcontent_headers {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D4D0C8;
	color: #7E7E7E;
	clear: left;
	float: left;
	width: 178px;
	margin: 8px;
}
.subcontent_feature {
	float: left;
	width: 178px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
}
.subcontent_sections {
	clear: left;
	float: left;
	margin-bottom: 23px;
	width: 100%;
}
.subcontent_top {
	clear: left;
	float: left;
	width: 597px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subcontent_top2 {
	clear: left;
	float: left;
	width: 597px;

}
.subcontent_top_image {
	text-align:left;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	float: left;
	padding-left: 30px;
}
.subcontent_top_image2 {
	text-align:left;
	vertical-align: middle;
	float: left;
	padding: 0px;
}

.subcontent_top_right {
	float: right;
	width: 260px;
	margin-right: 15px;
	margin-top: 15px;
	margin-left: 5px;
}
.subcontent_top_right2 {
	float: right;
	width: 200px;
	margin-right: 10px;
	margin-top: 15px;
	margin-left: 5px;
}
.subcontent_top_right h1 {
	font-size: 15px;
}
.subcontent_mainhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 10px;
}
.subcontent_top_Video {
	float: left;
	clear:left;
	width: 100%;
	text-align: center;
	background-image: url(/images/shad.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	
}
.subheadings {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #585858;
}
.subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
#subcontent_left {


}
.width285 {
	float: left;
	width: 285px;
	height: 65px;
}

.PodcastListLinks {
	float: left;
	width: 250px;
	font-weight: bold;
}

.PodcastListLinks ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	margin-left: -25px;
	display: block;
	width: 250px;
	height: 33px;
	overflow:visible;
	padding-left: 20px;
}
.PodcastistLinks img {
	overflow: visible;
	margin-bottom: -10px;
}

.PodcastListLinks  a:link, .PodcastListLinks a:visited {
	color: #cc0000;
	text-decoration: none;
	width: 250px;
	height: 33px;
	background-image: url(/images/icons/icon_downloadPodcast.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.PodcastListLinks  a:hover,  .PodcastListLinks a:active {
	color: #999;
	text-decoration: none;
	width: 250px;
	height: 33px;
	background-image: url(/images/icons/icon_downloadPodcast2.gif);
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: 0px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.continueButton {
	background-image:url(/images/but_continueW.gif);
	width: 179px;
	height: 42px;
}
.continueButton a:link, .continueButton a:link, .continueButton a:visited  {
	background-image:url(/images/but_continueW.gif);
	width: 179px;
	height: 42px;
	display:block;
}

.continueButton a:hover, .continueButton a:active  {
	background-image:url(/images/but_continueW_over.gif);
	width: 179px;
	height: 42px;
	display:block;
}

/* from  navRe.css */
.selectedNav
{
    background:url("../images/redesign/menubg_h.png") repeat-x scroll 0 0 transparent;
    color:#FFFFFF !important;
    display:block;
    float:left;
    font-weight:bold;
    height:25px;
    padding:10px 8px 0;
    text-decoration:none !important;
    font-size:12px;
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
}

a.unselectedNav:hover 
{
    background:url("../images/redesign/menubg_h.png") repeat-x scroll 0 0 transparent;
    color:#FFFFFF;
    display:block;
    float:left;
    font-weight:bold;
    height:25px;
    padding:10px 8px 0;
    text-decoration:none !important;
    font-size:12px;
    text-align:center;
}

.unselectedNav 
{
    background:url("../images/redesign/bgd_mainnav.gif") repeat-x scroll 0 0 transparent;
    color:#0571CC;
    display:block;
    float:left;
    font-weight:bold;
    height:25px;
    padding:10px 8px 0;
    text-decoration:none !important;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    border-right:1px solid #717172;
    text-align:center;
}

a.Selected
{
    background:url("../images/redesign/menubg_h.png") repeat-x scroll 0 0 transparent;
    color:#FFFFFF;
    display:block;
    float:left;
    font-weight:bold;
    height:25px;
    padding:10px 8px 0;
    text-decoration:none !important;
    font-size:12px;
    text-align:center;
}

.childNav
{
    background:url("../images/redesign/menubg_h2.png") repeat-x scroll 0 0 transparent !important;
    color:#FFFFFF !important;
    border-right:1px solid #950001 !important;
    display:inline !important;
    font-family:Tahoma,Geneva,sans-serif !important;
    font-weight:normal !important;
    height:40px !important;
    padding:0 9px !important;
    text-decoration:none !important;
    float:left !important;
    line-height:40px !important;
    text-align:center !important;
    list-style:none outside none !important;
    font-size:11px !important;
}

.navBg
{
   background:url("../images/redesign/menubg_h2.png") repeat-x scroll 0 0 #2c2c2c;
   border-top:solid 2px #2a2a2a;
}

.RadTabStrip a.childNav:hover
{
    background:url("../images/redesign/bgdnavhover.gif") repeat-x scroll 0 0 transparent !important;
    color:#FFFFFF !important;
    border-right:1px solid #950001 !important;
    display:inline !important;
    font-family:Tahoma,Geneva,sans-serif !important;
    font-weight:normal !important;
    height:30px !important;
    padding:0 9px !important;
    text-decoration:none !important;
    float:left !important;
    line-height:30px !important;
    text-align:center !important;
    list-style:none outside none !important;
    font-size:11px !important;
}
.asistore
{
    background:white !important;
    height:28px;
    display:inline;
    padding:7px 1px 0 0;
    text-align:center;
    width:94px;
    float:left;
}
.popular
{
    background:url("../images/redesign/menubg_h2.png") repeat-x scroll 0 0 transparent !important;
    color:rgb(204, 204, 204) !important;
    display:inline !important;
    font-family:Tahoma,Geneva,sans-serif !important;
    font-weight:700 !important;
    height:30px !important;
    padding:0 9px !important;
    text-decoration:none !important;
    float:left !important;
    line-height:30px !important;
    text-align:center !important;
    list-style:none outside none !important;
    font-size:11px !important;
}

a.popular:hover
{
    background:url("../images/redesign/menubg_h2.png") repeat-x scroll 0 0 transparent !important;
    color:rgb(204, 204, 204) !important;
    display:inline !important;
    font-family:Tahoma,Geneva,sans-serif !important;
    font-weight:700 !important;
    height:30px !important;
    padding:0 9px !important;
    text-decoration:none !important;
    float:left !important;
    line-height:30px;
    text-align:center !important;
    list-style:none outside none !important;
    font-size:11px !important;
}


  div.subNavigation {cursor:pointer;padding:13px 10px 13px 10px;background-color:#FFF;	width:585px;  } 
  div.subNavigation h1 {font-size:12px;}
  div.subNavigation:hover { cursor:pointer;padding:13px 10px 13px 10px;background-color:#FF9;	width:585px;}
  
 
 
  div.subNavigation2  {cursor:pointer;padding:13px 10px 13px 10px; background-image:url(/Images/Index/grad.gif);background-position: bottom;	width:585px;  } 
    div.subNavigation2 h1 {font-size:12px;}
 div.subNavigation2:hover   { cursor:pointer;padding:13px 10px 13px 10px; background-color:#FF9; background-image:none;width:585px;}
 
.indexHeading {
	border-bottom-width: 3px;
	border-bottom-style: double;
	border-bottom-color: #CCC;
	background-color: #F0F0F0;
	width: 585px;
	padding: 10px;
	 }
.indexHeading h1 {
	font-size:15px;
	color: #171717;
 }
.edu_featured {
	background-image: url(/Images/education/tracks/edu_topFeature.gif);
	width: 308px;
	min-height:230px;
	margin-top:20px;
	float: left;

}
.edu_List {
	float: left;
	width: 283px;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 11px;
}
.edu_ListItems {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	overflow: hidden;
	margin-top: 8px;
	padding-bottom: 5px;
}


.edu_featured h1 {
	font-size:16px;
	color: #cc0101;
	display:inline;

}
.edu_featured h2 {
	font-size:14px;
	display:inline;

}
.edu_green {
	color:#063;
}
.edu_BottomButtonBar {
	background-image: url(/Images/education/tracks/edu_but_bottom.gif);
	background-repeat: no-repeat;
	height: 48px;
	font-size: 16px;
	text-align: center;
	line-height: 48px;
}
