/*container*/
.main_window
{   
    float: left;
    position: relative;
    width: 670px;
}
/*the viewer*/
.window
{
    height: 400px;
    overflow: hidden;
    position: relative;
}
/*the sliding div*/
.landscape_image
{
    position: absolute;
    top: 0;
    left: 0;
}
.landscape_image img
{

}
.bar
{
    background-color: black; 
    width: 669px; 
    border: 1px solid #DDDDDD;
    position: relative;
    bottom: 32px;
    z-index: 100;
}
.slider
{
    cursor:e-resize; 
    width:50px; 
    height:25px; 
    background-color:red; 
    border:solid black;   
}
.leftPane
{
    z-index: 100; 
    float: left; 
    border: none;
    position: relative; 
    left: 0; 
    width: auto; 
    top: 0px; 
    height: auto;
}

.rightPane
{
    z-index: 100; 
    float: right; 
    position: relative; 
    right: 0; 
    width: auto; 
    top: 0px; 
    height: auto;
}
