.color {
	color: #CC0000;
}
.colorBlue {
	color: #4A9FD8;
}

a:link { color: #005EBD; text-decoration: none; }
a:visited { color: #005EBD;  text-decoration: none; }
a:hover { color: #CC0000; text-decoration: underline; }
a:active { color: #005EBD; text-decoration: underline; }

h1 { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 17px; color: #000000; font-weight: bold; display: inline; }

h2 {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	display: inline;
	font-weight: bold;;
}

h3 { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; display: inline; }

h4 { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC0000; display: inline; }
h4 a:link { color: #CC0000; font-weight: bold; text-decoration: none; }
h4 a:visited { color: #CC0000; font-weight: bold; text-decoration: none; }
h4 a:hover { color: #000000; font-weight: bold; text-decoration: none; }
h4 a:active { color: #9A0001; font-weight: bold; text-decoration: none; }

.top  { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; 
	background-image: url("/html/images/topnav/bgd_top.gif");}

.top a:link {
	color: #000000;
	text-decoration: none;
	font-weight: bold; 
	background-image: url("/html/images/topnav/bgd_top.gif");
	background-color: #8F8279;
	width: 100%;
}
.top a:visited {
	color: #000000;
	text-decoration: none; 
	background-image: url("/html/images/topnav/bgd_top.gif");
	width: 100%;
}
.top a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-image: url("/html/images/topnav/bgd_top_over.gif");
	background-color: #000000;
	width: 100%;
}
.top a:active { color: #FFFFFF; text-decoration: underline;
	background-image: url("/html/images/topnav/bgd_top_over.gif"); 
	width: 100%;
	}

.columns  { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; }


.rightTop  { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; }
.rightTop a:link { color: #FFFFFF; text-decoration: none; }
.rightTop a:visited { color: #FFFFFF; text-decoration: none; }
.rightTop a:hover { color: #EBD599; text-decoration: underline; }
.rightTop a:active { color: #FFFFFF; text-decoration: underline; }
.rightTop .leadin { color: #FFFFFF; }

.bottom  { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 11px; color: #9D937B; }
.bottom a:link {  color: #015FBC; text-decoration: none; }
.bottom a:visited { color: #015FBC; text-decoration: none; }
.bottom a:hover { color: #990000; text-decoration: underline; }
.bottom a:active { color: #990000; text-decoration: underline; }

.more {font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #A49F90;}
.more a:link {  color: #A49F90; text-decoration: none; }
.more a:visited { color: #A49F90; text-decoration: none; }
.more a:hover { color: #CC0000; text-decoration: underline; }
.more a:active { color: #CC0000; text-decoration: underline; }

.calendar {font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #A49F90;}
.calendar a:link {  color: #A49F90; text-decoration: none; }
.calendar a:visited { color: #A49F90; text-decoration: none; }
.calendar a:hover { color: #CC0000; text-decoration: underline; }
.calendar a:active { color: #A49F90; text-decoration: underline; }

.greybox a:link { color: #0000CC; font-weight: bold; text-decoration: none; }

body{
	font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	scrollbar-face-color: #CC0000;
	scrollbar-base-color: #C90000;
	scrollbar-track-color: #e0e0e0;
	scrollbar-highlight-color: #FFA800;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #CD0000;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-arrow-color: #FAE1C3;
	
}
.required {
	background-color: #FFFF99;
}

td { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal;}

td { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal;}

/* p { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;  font-style: normal; font-weight: normal; color: #333333; } */

.lightColor { 
	background: #F5F9FD;  
}
td.lightColorBorder { background: #4A9FD8; }


.darkColor {
	background-color: #D1DFEB;
	text-align: center;
	color: #005EBD;
	font-size: 10px;
	font-weight: bold;
}


td.neutralColor {
	background-color: #8F8279;
}

HR {
	width: 100%;
	height: 2px;
	color: #E2E2E2;
	align: center;
	text-decoration: none;
	font-size: small;

}


.footnote {  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000000; }

leadin {
font-weight: bold;	
}
.fieldset { 
style="BORDER-RIGHT: #0000cd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0000cd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #0000cd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #0000cd 1px solid;
}


