@charset "utf-8";
/* CSS Document */

.SupplieSearch_BGD {
	width:490px;
	margin:0 auto 0 auto;
	background-image:url(/Images/supplierSearch/bgd_search.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	min-height:277px;
}
.SupplierSearch_BGDtop {
	background-image: url(/Images/supplierSearch/bgd_searchTop.gif);
	background-repeat: no-repeat;
	background-position: top;
}

.SupplieResults_BGD {
	width:610px;
	background-image:url(/Images/supplierSearch/results_botBGD.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	min-height:90px;
}
.SupplierResults_BGDtop {
	background-image: url(/Images/supplierSearch/results_topBGD.gif);
	background-repeat: no-repeat;
	background-position: top;
}
.SupplierTable01 td {
	padding:0 3px 0 3px;
	border-collapse: separate;
}

.SupplierTable01 tr {
	padding:0 3px 0 3px;
	border-collapse: separate;
}

.SupplierTable01 {
	border-collapse: separate !important;
	border-width:0px;
    border-style:none;
}
.SupplierSpotlight {
	border-right:#999 1px solid;
	border-bottom:#999 1px solid;
	background-image:url(/Images/supplierSearch/bgd_blue.gif);
	background-repeat: repeat-x;
}

.SupplierSpotlight td {
	border-right:#999 1px solid;
	border-bottom:#999 1px solid;
	background-image:url(/Images/supplierSearch/bgd_blue.gif);
	background-repeat: repeat-x;
	background-position:center;
	border-top-width:0px;
    border-top-style:none;
    border-left-width:0px;
    border-left-style:none;
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-align:center;
    font-weight:bold;
}
.SupplierGrayHeadings {
	border-bottom:#999 1px solid;
	background-image:url(/Images/supplierSearch/GrayGrad.gif);
	height:31px;
	line-height:31px;
	padding-left:5px;
	font-weight:bold;
}
.SupplierRatings {
	background: #157ad8;
	color:#FFF;
	padding:8px 0 8px 8px;
	overflow:hidden;
}
.SupplierRatings  a:link,.SupplierRatings a:visited  {
	color: #efd677;
	text-decoration: none;
}
.SupplierRatings a:hover,.SupplierRatings a:active  {
	color: #efd677;
	text-decoration: underline;
}
.SupplierContent {
	padding: 8px 5px 24px 5px;
}

.SupplierRow
{
    
    border-bottom: 1px solid rgb(153, 153, 153);
    height:25px;
}

.SupplierRow td
{
    border-top-width:0px;
    border-top-style:none;
    border-left-width:0px;
    border-left-style:none;
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-align:center;
}

.SupplierRowAlt
{
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    height:25px;
}

.SupplierRowAlt td
{
    border-top-width:0px;
    border-top-style:none;
    border-left-width:0px;
    border-left-style:none;
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: #e5e5e5 !important;
    text-align:center;
}

.PagerStyle
{
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    height:25px;
}

.PagerStyle td
{
    border-width:0px;
    border-style:none;
    background-color: #e5e5e5 !important;
    text-align:center;
}

.SupplierHeader th
{
    border-width:0px;
    border-style:none;
}

.SupplierSpotLightASI
{
    color:#CC0101 !important;
    text-align:center !important;
    font-weight:bold !important;
    font-style:italic !important;
}

.SupplierSpotLightASI  a:link,.SupplierSpotLightASI a:visited  
{
    color:#CC0101;
    text-align:center;
    font-weight:bold;
    font-style:italic;
}
.LinksBorder
{
    border-right-style:none !important;
    border-right-width:0px !important;
}

.LinksBorder td
{
    border-right-style:none !important;
    border-right-width:0px !important;
}


