.RadTabStrip_Default .rtsLI,
.RadTabStrip_Default .rtsLink
{
	color: #fff;
}

.RadTabStrip_Default .rtsLevel1 .rtsLI,
.RadTabStrip_Default .rtsLevel1 .rtsLink
{
	color: #000;
}

.RadTabStripLeft_Default .rtsLI,
.RadTabStripRight_Default .rtsLI
{
	width: 100%;
}

.RadTabStripLeft_Default .rtsLevel .rtsUL,
.RadTabStripRight_Default .rtsLevel .rtsUL
{
	width: 150px; /* default width */
}

.RadTabStrip_Default .rtsLink
{
	font: 11px/25px arial,sans-serif;
	text-decoration: none;
}

.RadTabStrip_Default .rtsLevel1 .rtsLink
{
	font-size: 12px;
	line-height: 20px;
}

.RadTabStripTop_Default .rtsOut,
.RadTabStripBottom_Default .rtsOut
{
	text-align: center;
	vertical-align: middle;
}

/* disabled tabs */
.RadTabStrip_Default .rtsDisabled,
.RadTabStripLeft_Default .rtsDisabled,
.RadTabStripRight_Default .rtsDisabled,
.RadTabStripBottom_Default .rtsDisabled,
.RadTabStrip_Default_disabled .rtsDisabled
{
	color: #ccc;
	cursor: default;
}

.RadTabStripLeft_Default .rtsLI .rtsIn,
.RadTabStripRight_Default .rtsLI .rtsIn
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.RadTabStripLeft_Default .rtsUL,
.RadTabStripRight_Default .rtsUL
{
	width: 100%;
}

.RadTabStrip_Default .rtsLevel1 .rtsIn
{
	padding: 9px 20px 7px;
}

.RadTabStrip_Default .rtsImg
{
	border: 0;
	vertical-align: top;
	width: 16px;
}

/* Scrolling */
.RadTabStrip_Default .rtsNextArrow,
.RadTabStrip_Default .rtsPrevArrow,
.RadTabStrip_Default .rtsPrevArrowDisabled,
.RadTabStrip_Default .rtsNextArrowDisabled
{
	height:19px;
	width:17px;
	background:transparent url('TabStrip/ScrollArrows.gif') no-repeat;
}

.RadTabStrip_Default .rtsNextArrow { background-position: 100% 0; }
.RadTabStrip_Default .rtsPrevArrow { background-position: 0 0; }
.RadTabStrip_Default .rtsNextArrowDisabled { background-position: 100% 100%; }
.RadTabStrip_Default .rtsPrevArrowDisabled { background-position: 0 100%; }

/* Orientation: Top */


.RadTabStripTop_Default .rtsLevel
{
	background: transparent url('TabStrip/SubmenuBg.gif') repeat 0 0;
}

.RadTabStripTop_Default .rtsLI
{
	padding: 0 15px 0 14px;
	background: transparent url('TabStrip/SubmenuSeparator.gif') no-repeat 100% 6px;
}

.RadTabStrip_Default .rtsUL .rtsSeparator
{
	display: none;
}

.RadTabStripTop_Default .rtsLink:hover { color: #d1d0d0; }
.RadTabStripTop_Default .rtsSelected,
.RadTabStripTop_Default .rtsSelected:hover { color: #fff; text-decoration: underline; }

.RadTabStripTop_Default .rtsLast
{
	background: none;
}

.RadTabStripTop_Default .rtsLevel1
{
	background: none;
}

.RadTabStripTop_Default .rtsLevel1 .rtsLI { padding: 0; }

.RadTabStripTop_Default .rtsLevel1 .rtsOut { margin-left: 20px; }
.RadTabStripTop_Default .rtsLevel1 .rtsIn { padding-left: 0; }

.RadTabStripTop_Default .rtsLevel1 .rtsSelected .rtsOut { margin-right: -1px; }
.RadTabStripTop_Default .rtsLevel1 .rtsSelected .rtsIn { padding-right: 21px; }

.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsOut { margin-left: 0; margin-right: 20px; }
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsIn { margin-left: 20px; padding-right: 0; }

.RadTabStripTop_Default .rtsLevel1 .rtsLink { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 0 0; }
.RadTabStripTop_Default .rtsLevel1 .rtsLink:hover { color: #fff; background-position: 0 -36px; }
.RadTabStripTop_Default .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -36px; }
.RadTabStripTop_Default .rtsLevel1 .rtsSelected:hover { color: #000; }
.RadTabStripTop_Default .rtsLevel1 .rtsLI .rtsSelected { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 0 -72px; text-decoration: none; }
.RadTabStripTop_Default .rtsLevel1 .rtsLI .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 100% -72px; }

.RadTabStripTop_Default .rtsLevel1 .rtsFirst .rtsLink { background-position: 0 -108px; }
.RadTabStripTop_Default .rtsLevel1 .rtsFirst .rtsLink:hover { background-position: 0 -144px; }
.RadTabStripTop_Default .rtsLevel1 .rtsFirst .rtsSelected,
.RadTabStripTop_Default .rtsLevel1 .rtsFirst .rtsSelected:hover { background-position: 0 -180px; }

.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsLink { background-position: 100% -108px; }
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsOut { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 0 0; }
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsLink:hover { background-position: 100% -144px; }
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsLink:hover .rtsOut { background-position: 0 -36px; }
.RadTabStripTop_Default .rtsLevel1 .rtsUL .rtsLast .rtsSelected { background-position: 100% -180px; }
.RadTabStripTop_Default .rtsLevel1 .rtsUL .rtsLast .rtsSelected .rtsOut { background-position: 0 -72px; }

.RadTabStripTop_Default .rtsLevel1 .rtsDisabled:hover { color: #ccc }
.RadTabStripTop_Default .rtsLevel1 .rtsFirst .rtsDisabled,
.RadTabStripTop_Default .rtsLevel1 .rtsFirst .rtsDisabled:hover { background-position: 0 -108px; }
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsDisabled,
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsDisabled:hover { background-position: 100% -108px; }
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsDisabled,
.RadTabStripTop_Default .rtsLevel1 .rtsLast .rtsDisabled:hover .rtsOut { background-position: 0 0; }

/* Orientation: Bottom */

.RadTabStripBottom_Default .rtsLI { padding-top: 1px; }

.RadTabStripBottom_Default .rtsOut { margin-left: 20px; }
.RadTabStripBottom_Default .rtsIn { padding-left: 0; }

.RadTabStripBottom_Default .rtsSelected .rtsOut { margin-right: -1px; }
.RadTabStripBottom_Default .rtsSelected .rtsIn { padding-right: 21px; }

.RadTabStripBottom_Default .rtsLast .rtsOut { margin-left: 0; margin-right: 20px; }
.RadTabStripBottom_Default .rtsLast .rtsIn { margin-left: 20px; padding-right: 0; }

.RadTabStripBottom_Default .rtsLink { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 0 -216px; }
.RadTabStripBottom_Default .rtsSelected { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 0 -288px; }
.RadTabStripBottom_Default .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripHStates.gif') no-repeat 100% -288px; }

.RadTabStripBottom_Default .rtsFirst .rtsLink { background-position: 0 -324px; }
.RadTabStripBottom_Default .rtsFirst .rtsSelected { background-position: 0 -396px; }

.RadTabStripBottom_Default .rtsLast .rtsLink { background-position: 100% -324px; }
.RadTabStripBottom_Default .rtsLast .rtsOut { background-position: 0 -216px; }
.RadTabStripBottom_Default .rtsLast .rtsSelected { background-position: 100% -396px; }
.RadTabStripBottom_Default .rtsLast .rtsSelected .rtsOut { background-position: 0 -288px; }

/* Orientation: Left */

.RadTabStripLeft_Default
{
	float: left;
}

.RadTabStripLeft_Default .rtsLevel
{
	float:left;
}

.RadTabStripLeft_Default .rtsUL .rtsLI
{
	float: left;
	clear: left;
	overflow: visible;
}

.RadTabStripLeft_Default .rtsLevel .rtsUL
{
	float:left;
}

.RadTabStripLeft_Default .rtsLevel1 .rtsUL
{
	zoom: 1;
}

.RadTabStripLeft_Default .rtsLink { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 0 0; }
.RadTabStripLeft_Default .rtsSelected { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 0 -72px; }

.RadTabStripLeft_Default .rtsFirst .rtsLink { background-position: 0 -108px; }
.RadTabStripLeft_Default .rtsFirst .rtsSelected { background-position: 0 -180px; }

.RadTabStripLeft_Default .rtsLast .rtsLink { background-position: 100% -108px; }
.RadTabStripLeft_Default .rtsLast .rtsOut { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 0 0; }
.RadTabStripLeft_Default .rtsLast .rtsSelected { background-position: 100% -180px; }
.RadTabStripLeft_Default .rtsLast .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 0 -72px; }

/* Orientation: Right */

.RadTabStripRight_Default
{
	float: right;
	text-align: right;
}

.RadTabStripRight_Default .rtsLevel
{
	float: right;
}

.RadTabStripRight_Default .rtsUL .rtsLI
{
	float: right;
	clear: right;
	overflow: visible;
}

.RadTabStripRight_Default .rtsLevel1 .rtsUL
{
	zoom: 1;
}

.RadTabStripRight_Default .rtsLink { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 100% 0; }
.RadTabStripRight_Default .rtsSelected { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 100% -72px; }

.RadTabStripRight_Default .rtsFirst .rtsLink { background-position: 100% -108px; }
.RadTabStripRight_Default .rtsFirst .rtsSelected { background-position: 100% -180px; }

.RadTabStripRight_Default .rtsLast .rtsLink { background-position: 0 -108px; }
.RadTabStripRight_Default .rtsLast .rtsOut { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 100% 0; }
.RadTabStripRight_Default .rtsLast .rtsSelected { background-position: 0 -180px; }
.RadTabStripRight_Default .rtsLast .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripVStates.gif') no-repeat 100% -72px; }
