@charset "UTF-8";
/* CSS Document */

/* Information: ---------------------------------------- */
/* This is the style sheet for the ASI, Inc. Website     */
/* Web slicing and coding was done by Respond2 of        */
/* the R2C Group. Www.r2cgroup.com | 503-222-0025.       */
/* ----------------------------------------------------- */

/* BRAND COLOR PALLETTE -------------------------------- */
/* ----------------------------------------------------- */
/*
930505 - Red Background and Anchor Links
3e3e3e - Dark grey text
*/






/* ================= */
/* = GLOBAL STYLES = */
/* ================= */
html {
margin:0;
padding:0;
height:100%;
}
body {
font-family: Arial, Helvetica, sans-serif;
font-size: 0.85em;
background-color: #930505;
background-image: url(/images/BKGD_main.jpg);
background-position: center top;
background-repeat: no-repeat;
margin:0;
padding:0;
height:100%;
line-height: 1.7em;
}
div.clear {
clear: both;
}
a {
color: #930505;
}
a:hover {
color: #999;
}
h3 {
font-family: "Georgia", "Times New Roman", Times, serif;
font-weight: normal;
font-size: 1.5em;
color: #3e3e3e;
}
h3.column_head {
margin: 0px 0px 20px 0px;
padding: 0px;
}

.red{
color:red;
}


hr{
border:none;

border-bottom:dashed 1px #dedede;
margin:10px 0px;
}



/* ============== */
/* = BOX STYLES = */
/* ============== */
#container {
min-height:100%;
height: auto !important;
height: 100%;
position:relative;
}
#page_wrapper {
width: 907px;
margin: 0 auto;
padding-bottom:93px;	/* Height of the footer + footer's margin-top */
}
#main_content_wrapper {
background: #fff;
padding-bottom: 20px;
}
a#logo {
display: block;
text-indent: -9999px;
font-size: 1px;
background-image: url(/images/GFK_asi_logo.gif);
width: 127px;
min-height: 75px;
height: auto !important;
height: 75px;
position: absolute;
top: 0px;
left: 50px;
}
#white_base {
background-image: url(/images/BKGD_white_base.gif);
background-repeat: no-repeat;
width: 907px;
min-height: 11px;
height: auto !important;
height: 11px;
}
#white_box {
min-height: 400px;
height: auto !important;
height: 400px;
}
#sub_columns {
}
#sub_columns div.left {
float: left;
width: 490px;
margin-left: 25px;
}
#sub_columns div.right {
float: right;
width: 340px;
margin-right: 35px;
}

.column_full{
width:860px;
margin-left:20px;
}


#header {
width: 907px;
margin: 0 auto;
background-color: #930505;
background-image: url(/images/BKGD_header.jpg);
background-repeat: repeat-x;
position: relative;
min-height: 86px;
height: auto !important;
height: 86px;
}







/* =============== */
/* = HOME STYLES = */
/* =============== */
#white_box_columns {
}
#white_box_columns div.left {
float: left;
width: 535px;
margin: 20px 0px 0px 50px;
}
#white_box_columns div.right {
float: right;
width: 260px;
margin: 20px 40px 0px 0px;
}
h1.TTL_become_your_own_boss {
background-image: url(/images/TTL_become_your_own_boss.gif);
background-repeat: no-repeat;
width: 485px;
min-height: 109px;
height: auto !important;
height: 109px;
font-size: 1px;
text-indent: -9999px;
margin-bottom: 10px;
}
h2.home_offer_1 {
background-image: url(/images/offer1_home_header.gif);
background-repeat: no-repeat;
width: 258px;
min-height: 159px;
height: auto !important;
height: 159px;
font-size: 1px;
text-indent: -9999px;
}
h2.home_offer_2 {
background-image: url(/images/offer2_home_header.gif);
background-repeat: no-repeat;
width: 258px;
min-height: 159px;
height: auto !important;
height: 159px;
font-size: 1px;
text-indent: -9999px;
}
h2.home_offer_3 {
background-image: url(/images/offer3_home_header.gif);
background-repeat: no-repeat;
width: 258px;
min-height: 99px;
height: auto !important;
height: 99px;
font-size: 1px;
text-indent: -9999px;
margin-top: 35px;
}
h3.TTL_what_youll_get {
font-family: "Georgia", "Times New Roman", serif;
font-weight: normal;
font-size: 25px;
margin: 5px 0px 0px 0px;
}
#offer ul#what_youll_get {
font-size: 11px;
margin: 0px;
padding: 5px 0px 15px 15px;
}
#offer ul#what_youll_get li {
margin: 0em 0em 0.5em 0em;
}
#offer a.BTN_sign_up_online_home {
background-image: url(/images/BTN_sign_up_online_home.gif);
background-repeat: no-repeat;
background-color: none;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 249px;
min-height: 46px;
height: auto !important;
height: 46px;
display: block;
}
h4.TTL_home_or_call {
background-image: url(/images/TTL_or_call_home.gif);
background-repeat: no-repeat;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 249px;
min-height: 33px;
height: auto !important;
height: 33px;
margin: 0px;
padding: 0px;
}
h4.TTL_home_phone_1 {
background-image: url(/images/offer1_phone_home.gif);
background-repeat: no-repeat;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 249px;
min-height: 28px;
height: auto !important;
height: 28px;
margin: 0px;
padding: 0px;
}
h4.TTL_home_phone_2 {
background-image: url(/images/offer2_phone_home.gif);
background-repeat: no-repeat;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 249px;
min-height: 28px;
height: auto !important;
height: 28px;
margin: 0px;
padding: 0px;
}
h4.TTL_home_phone_3 {
background-image: url(/images/offer3_phone_home.gif);
background-repeat: no-repeat;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 249px;
min-height: 28px;
height: auto !important;
height: 28px;
margin: 0px;
padding: 0px;
}
#home_sub_content_columns {
background-image: url(/images/GFK_sub_content_home.jpg);
background-position: bottom;
background-repeat: no-repeat;
background-color: #838383;
color: #fff;
/* font-size: .85em; */
line-height: 1.5em;
margin: 7px 0px 0px 0px;
padding: 10px;
}
#home_sub_content_columns h3 {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-family: "Georgia", "Times New Roman", Times, Serif;
font-weight: normal;
font-size: 22px;
color:white;
}
#home_sub_content_columns div.left {
width: 475px;
float: left;
padding: 10px 0px 10px 25px;
}
#home_sub_content_columns div.right {
width: 350px;
float: right;
padding: 10px;
}
#home_sub_content_columns div.right ul {
padding:0px;
margin-left:10px;
}
#home_sub_content_columns div.right ul li {
margin-bottom: 0.75em;
font-size: 1em;
}






/* ==================== */
/* = NAVIGATION ITEMS = */
/* ==================== */
#primary_navigation {
min-height: 50px;
height: auto !important;
height: 50px;
width: 495px;
position: absolute;
top: 31px;
right: 0px;
}
#nav_items {
list-style: none;
margin: 0px;
padding: 0px;
width:505px;
position: absolute;
right: 0px;
}
#nav_items li {
background-image:url(/images/BKGD_sprite.gif);
float:left;
}
#nav_items li a {
background-repeat:no-repeat;
display:block;
height:47px;
}
#nav_items li a span {
display: none;
}

#home { background-position:0px 0px; width:62px; }
#home:hover, #home.active{ background-position:0px -50px; }

#testimonials{ background-position:-62px 0px; width:115px; }
#testimonials:hover, #testimonials.active{ background-position:-62px -50px; }

#how-you-make-money{ background-position:-177px 0px; width:179px; }
#how-you-make-money:hover, #how-you-make-money.active{ background-position:-177px -50px; }

#faqs{ background-position:-356px 0px; width:63px; }
#faqs:hover, #faqs.active{ background-position:-356px -50px; }

#about-us{ background-position:-419px 0px; width:80px; }
#about-us:hover, #about-us.active{ background-position:-419px -50px; }







/* ================= */
/* = FOOTER STYLES = */
/* ================= */
#footer {
color: #fff;
font-size: 0.65em;
background-image: url(/images/BKGD_footer.gif);
background-repeat: repeat-x;
min-height: 58px;
height: auto !important;
height: 58px;
position:absolute;
bottom:0;
width:100%;
height:58px;  /* Height of the footer */
margin-top: 35px;
padding-top: 10px;
}
#footer ul li a {
color: #fff;
}
#footer ul {
list-style: none;
font-size: 1em;
margin: 0px;
padding: 0px;
}
#footer ul li {
display: inline;
margin: 0px 10px 0px 0px;
padding: 0px 10px 0px 0px;
border-right: 1px solid #fff;
}
#footer ul li.last {
border: none;
}
#footer_content {
width: 857px;
margin: 0 auto;
background-image: url(/images/GFK_asi_logo_footer.gif);
background-repeat: no-repeat;
background-position: 0px 5px;
padding-left: 50px;
}






/* ==================== */
/* = SUB OFFER STYLES = */
/* ==================== */
h2.sub_offer {
font-size: 1px;
text-indent: -9999px;
}
h2.sub_offer#offer1 {
background-image: url(/images/offer1_sub_header.jpg);
background-repeat: no-repeat;
width: 345px;
min-height: 143px;
height: auto !important;
height: 143px;
}
h2.sub_offer#offer2 {
background-image: url(/images/offer2_sub_header.jpg);
background-repeat: no-repeat;
width: 345px;
min-height: 143px;
height: auto !important;
height: 143px;
}
h2.sub_offer#offer3 {
background-image: url(/images/offer3_sub_header.jpg);
background-repeat: no-repeat;
width: 345px;
min-height: 143px;
height: auto !important;
height: 143px;
}

#sub_offer a.BTN_sign_up_online_sub {
background-image: url(/images/BTN_sign_up_online_sub.gif);
background-repeat: no-repeat;
background-color: none;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 209px;
min-height: 46px;
height: auto !important;
height: 46px;
display: block;
margin: 0 auto;
}
h4.TTL_sub_or_call {
background-image: url(/images/TTL_or_call_sub.gif);
background-repeat: no-repeat;
border: none;
font-size: 1px;
text-indent: -9999px;
width: 345px;
min-height: 34px;
height: auto !important;
height: 34px;
margin: 0px;
padding: 0px;
}
h4.TTL_sub_phone {
border: none;
font-size: 1px;
text-indent: -9999px;
width: 345px;
min-height: 36px;
height: auto !important;
height: 36px;
margin: 0px;
padding: 0px;
}
h4.TTL_sub_phone#phone1 {
background-image: url(/images/offer1_phone_sub.gif);
background-repeat: no-repeat;
}
h4.TTL_sub_phone#phone2 {
background-image: url(/images/offer2_phone_sub.gif);
background-repeat: no-repeat;
}
h4.TTL_sub_phone#phone3 {
background-image: url(/images/offer3_phone_sub.gif);
background-repeat: no-repeat;
}






/* ====================== */
/* = TESTIMONIAL STYLES = */
/* ====================== */
h1.TTL_dont_just_take_our_word_for_it {
background-image: url(/images/TTL_dont_just_take_our_word_for_it.gif);
background-repeat: no-repeat;
width: 637px;
min-height: 98px;
height: auto !important;
height: 98px;
font-size: 1px;
text-indent: -9999px;
margin: 29px 0px 20px 28px;
}
#testimonial_boxes {
border: 1px solid #fff;
width: 850px;
margin: 0 auto;
}
div.quote {
margin-bottom: 30px;
}
#testimonial_boxes div.quote_left {
float: left;
width: 255px;
}
#testimonial_boxes div.quote_left img {
border: 3px solid #ccc;
}
#testimonial_boxes div.quote_right {
float: right;
width: 590px;
background-image: url(/images/BKGD_quotes.gif);
background-repeat: no-repeat;
font-size: 0.85em;
}
#testimonial_boxes div.quote_right p {
width: 470px;
padding: 10px 0px 0px 15px;
}
#testimonial_boxes div.quote_right h3 {
margin-left: 15px;
}






/* ============================= */
/* = HOW YOU MAKE MONEY STYLES = */
/* ============================= */
h1.TTL_success_depends_on_good_products {
background-image: url(/images/TTL_success_depends_on_good_products.gif);
background-repeat: no-repeat;
width: 832px;
min-height: 96px;
height: auto !important;
height: 96px;
font-size: 1px;
text-indent: -9999px;
margin: 29px 0px 20px 28px;
}
div.asset_box {
border-top: 1px solid #ccc;
margin-bottom: 20px;
}
div.asset_box p {
width: 345px;
float: left;
}
div.asset_box img {
float: right;
margin-top: 15px;
}







/* =================== */
/* = ABOUT US STYLES = */
/* =================== */
h1.TTL_get_the_support_of_a_winning_team {
background-image: url(/images/TTL_get_the_support_of_a_winning_team.gif);
background-repeat: no-repeat;
width: 687px;
min-height: 96px;
height: auto !important;
height: 96px;
font-size: 1px;
text-indent: -9999px;
margin: 29px 0px 20px 28px;
}





/* ============== */
/* = FAQ STYLES = */
/* ============== */
h1.TTL_we_are_here_to_help {
background-image: url(/images/TTL_we_are_here_to_help.gif);
background-repeat: no-repeat;
width: 813px;
min-height: 98px;
height: auto !important;
height: 98px;
font-size: 1px;
text-indent: -9999px;
margin: 29px 0px 20px 28px;
}


.anchor{
font-size:14px;
border-top:#cfcfcf solid 1px;
margin:0;
padding:8px 0;
color:#545454;
}

.anchor:hover{
color:#111111;
cursor:pointer;
}

.anchor.active{
color:red;
}

.answer{
padding-bottom:14px;
}


/* =================== */
/* = SIGN UP STYLES = */
/* =================== */
h1.TTL_completeform {
background-image: url(/images/TTL_completeform.gif);
background-repeat: no-repeat;
width: 687px;
min-height: 96px;
height: auto !important;
height: 96px;
font-size: 1px;
text-indent: -9999px;
margin: 29px 0px 20px 28px;
}

input.two_wide{
width:180px;
margin-bottom:6px;
}

input.narrow{
width:40px;
margin-bottom:6px;
}

select.state{
width:100px;
}

select.dropdown_slim{
margin-top:4px;
}

#signup_asi .section{
background-color:#f1f1f1;
padding:10px;
}