@navHeight: 64px;

nav {
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: @navHeight;
  z-index: 1;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  .toolbar-item {
    @bgColor: #4285f4;
    @color: #ffffff;
    margin: 0px 10px 0px 10px;
    &.blank {
      margin: 0px 0px 0px 0px;
      padding: 0px 10px 0px 10px;
      background-color: @bgColor;
      mat-icon {
        display: inline-flex;
        vertical-align: middle;
        cursor: pointer;
      }
    }
    &.search{
      background-color: @bgColor;
      margin: 0px 10px 0px 0px;
      flex-basis: 60%;
      input {
        color: @color;
        width: 100%;
        line-height: 22px;
        margin-bottom: 2px;
        font-size: 14px;
        background-color: @bgColor;
        border:none;
      }
      input::-webkit-input-placeholder {
        color: @color;
      }
    }
  }
}

mat-card {
  margin-top: calc(@navHeight + 10px);
  margin-bottom: 20px;
  padding: 12px 12px 12px 12px;

  mat-row {
    @bgColor: rgb(245, 245, 245);

    &.active {
      background-color: @bgColor;
    }
    mat-checkbox {
      padding-right: 10px;
    }
    mat-cell span {
      &.menu-active {
        span {
          &.report {
            padding-top: 10px;
          }
          mat-icon {
            cursor: pointer;
          }
        }
      }
      &.report-passed {
        color: green;
      }
      &.report-failed {
        color: red;
      }
  }
    mat-cell.header {
      display: flex;
      flex-direction: row;
      height: 20px;
    }
}
}
