/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";  /*https://material.angular.io/guide/theming*/
html { height: 100% }
body { height: 95% }
/* customizing header menu on a global level as component specific not possible */
direct-environment .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height:30px;
}
div .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height:30px;
}
a:any-link {
    color:white;
}