#main {
    display: flex;
    flex-direction: column;
    height:100%;
}
mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}
#content {
    overflow-y: auto;
    flex-grow: 1;
}
mat-card-title {
    height: 30px
}
.title {
    display:flex;
    min-height: 60px;
}
.title .centered {
    flex-grow: 1;
    padding-left: 5%;
    text-align: left;
    font-weight: normal;
}
#search {
    padding-bottom: 5px;
}
