@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<p>This is the site content</p>
<p>Still need to work on:</p>
<ul>
	<li>Listing the blogs created in this site (name + description)</li>
</ul>
<h1>Title: @Model.Content.GetPropertyValue("name")</h1>
<h3>@Html.Raw(Model.Content.GetPropertyValue("description"))</h3>