div.containerx {
	width: 98%;
	height: 400px;
	border: 1px solid #d7d8da;
	padding: 0px 0px 0px 0px;
	margin-top: 10px;
}
div.headerx {
	font-size:20px;
	width:100%;
	padding: 13px 20px 12px;
	background: #e7edf9;
	border-bottom: 1px solid #d7d8da;
}
div.content {
	padding-left: 5px;
	padding-top: 5px;
}
div.content img{
	width:98%;
	height:150px;
	border: 1px solid #d7d8da;
}
div.tasks div.checkbox {
	padding-left:30px;
}
div.tasks button {
	width:97%;	
	text-align: left;
	padding-left:30px;
}
div.tasks div.sub-tasks div.checkbox{
	padding-left:50px;
}
.glyphicons .open {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 #fff;
  .opacity(.2);	
}
.dropzone {
  transition: background-color 0.3s;
}

.drop-active {
	border: 2px solid black;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}